<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          components/ViewModule.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package components
</span>2 <span style=''>
</span>3 <span style=''>import controller.Event
</span>4 <span style=''>import model.Game
</span>5 <span style=''>import monix.eval.Task
</span>6 <span style=''>import monix.reactive.Observable
</span>7 <span style=''>import view.ViewConstants
</span>8 <span style=''>import view.gui.{GUI, MainPane, UI}
</span>9 <span style=''>
</span>10 <span style=''>object ViewModule:
</span>11 <span style=''>  trait View:
</span>12 <span style=''>    def initialGame(): Unit
</span>13 <span style=''>  trait Provider:
</span>14 <span style=''>    val view: UI &amp; View
</span>15 <span style=''>  type Requirements = ControllerModule.Provider
</span>16 <span style=''>  trait Component:
</span>17 <span style=''>    context: Requirements =&gt;
</span>18 <span style=''>
</span>19 <span style=''>    class ViewImpl extends UI with View:
</span>20 <span style=''>
</span>21 <span style=''>      private lazy val gui: GUI = </span><span style='background: #F0ADAD'>new GUI(ViewConstants.GUI_width, ViewConstants.GUI_height + 39)</span><span style=''>
</span>22 <span style=''>
</span>23 <span style=''>      </span><span style='background: #F0ADAD'>override def initialGame</span><span style=''>(): Unit = </span><span style='background: #F0ADAD'>new MainPane(() =&gt; controller.startGame(), ViewConstants.GUI_width, ViewConstants.GUI_height)</span><span style=''>
</span>24 <span style=''>
</span>25 <span style=''>      </span><span style='background: #F0ADAD'>override def render</span><span style=''>(game: Game): Task[Unit] = </span><span style='background: #F0ADAD'>gui.render(game)</span><span style=''>
</span>26 <span style=''>
</span>27 <span style=''>      </span><span style='background: #F0ADAD'>override def gameOver</span><span style=''>(game: Game): Task[Unit] = </span><span style='background: #F0ADAD'>gui.gameOver(game)</span><span style=''>
</span>28 <span style=''>
</span>29 <span style=''>      </span><span style='background: #F0ADAD'>override def events</span><span style=''>: Observable[Event] = </span><span style='background: #F0ADAD'>gui.events</span><span style=''>
</span>30 <span style=''>  trait Interface extends Provider with Component:
</span>31 <span style=''>    self: Requirements =&gt;
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          20
        </td>
        <td>
          12
        </td>
        <td>
          457
          -
          520
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          new GUI(ViewConstants.GUI_width, ViewConstants.GUI_height + 39)
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          14
        </td>
        <td>
          563
          -
          656
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          new MainPane(() =&gt; controller.startGame(), ViewConstants.GUI_width, ViewConstants.GUI_height)
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          13
        </td>
        <td>
          582
          -
          604
        </td>
        <td>
          Apply
        </td>
        <td>
          startGame
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          controller.startGame()
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          15
        </td>
        <td>
          528
          -
          552
        </td>
        <td>
          DefDef
        </td>
        <td>
          initialGame
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def initialGame
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          17
        </td>
        <td>
          664
          -
          683
        </td>
        <td>
          DefDef
        </td>
        <td>
          render
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def render
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          16
        </td>
        <td>
          710
          -
          726
        </td>
        <td>
          Apply
        </td>
        <td>
          render
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          gui.render(game)
        </td>
      </tr><tr>
        <td>
          26
        </td>
        <td>
          19
        </td>
        <td>
          734
          -
          755
        </td>
        <td>
          DefDef
        </td>
        <td>
          gameOver
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def gameOver
        </td>
      </tr><tr>
        <td>
          26
        </td>
        <td>
          18
        </td>
        <td>
          782
          -
          800
        </td>
        <td>
          Apply
        </td>
        <td>
          gameOver
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          gui.gameOver(game)
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          20
        </td>
        <td>
          849
          -
          859
        </td>
        <td>
          Select
        </td>
        <td>
          events
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          gui.events
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          21
        </td>
        <td>
          808
          -
          827
        </td>
        <td>
          DefDef
        </td>
        <td>
          events
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def events
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>