<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/gui/EndGamePane.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view.gui
</span>2 <span style=''>
</span>3 <span style=''>import view.Visualizer
</span>4 <span style=''>
</span>5 <span style=''>import java.awt.{Color, Component, Graphics, FlowLayout}
</span>6 <span style=''>import javax.swing.{JLabel, JPanel}
</span>7 <span style=''>import javax.swing.JButton
</span>8 <span style=''>
</span>9 <span style=''>import java.awt.BorderLayout
</span>10 <span style=''>import java.awt.Dimension
</span>11 <span style=''>
</span>12 <span style=''>class EndGamePane(width: Int, height: Int) extends </span><span style='background: #F0ADAD'>JPanel</span><span style=''>{
</span>13 <span style=''>
</span>14 <span style=''>  </span><span style='background: #F0ADAD'>this.setSize(width, height)</span><span style=''>
</span>15 <span style=''>
</span>16 <span style=''>  </span><span style='background: #F0ADAD'>override def paintComponent</span><span style=''>(graphics: Graphics): Unit =
</span>17 <span style=''>    </span><span style='background: #F0ADAD'>super.paintComponent(graphics)</span><span style=''>
</span>18 <span style=''>    </span><span style='background: #F0ADAD'>graphics.clearRect(0, 0, width, height)</span><span style=''>
</span>19 <span style=''>    </span><span style='background: #F0ADAD'>graphics.setColor(Color.GRAY)</span><span style=''>
</span>20 <span style=''>    </span><span style='background: #F0ADAD'>graphics.fillRect((width / 2) - 50, (height / 2) - 50, 100, 100)</span><span style=''>
</span>21 <span style=''>    </span><span style='background: #F0ADAD'>graphics.setColor(Color.WHITE)</span><span style=''>
</span>22 <span style=''>    </span><span style='background: #F0ADAD'>graphics.drawString(&quot;FINE GIOCO&quot;, width/2 - 30, height/2)</span><span style=''>
</span>23 <span style=''>  
</span>24 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          11
        </td>
        <td>
          1321
        </td>
        <td>
          270
          -
          276
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          JPanel
        </td>
      </tr><tr>
        <td>
          13
        </td>
        <td>
          1322
        </td>
        <td>
          281
          -
          308
        </td>
        <td>
          Apply
        </td>
        <td>
          setSize
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.setSize(width, height)
        </td>
      </tr><tr>
        <td>
          15
        </td>
        <td>
          1329
        </td>
        <td>
          312
          -
          339
        </td>
        <td>
          DefDef
        </td>
        <td>
          paintComponent
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def paintComponent
        </td>
      </tr><tr>
        <td>
          16
        </td>
        <td>
          1323
        </td>
        <td>
          372
          -
          402
        </td>
        <td>
          Apply
        </td>
        <td>
          paintComponent
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          super.paintComponent(graphics)
        </td>
      </tr><tr>
        <td>
          17
        </td>
        <td>
          1324
        </td>
        <td>
          407
          -
          446
        </td>
        <td>
          Apply
        </td>
        <td>
          clearRect
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.clearRect(0, 0, width, height)
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          1325
        </td>
        <td>
          451
          -
          480
        </td>
        <td>
          Apply
        </td>
        <td>
          setColor
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.setColor(Color.GRAY)
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          1326
        </td>
        <td>
          485
          -
          549
        </td>
        <td>
          Apply
        </td>
        <td>
          fillRect
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.fillRect((width / 2) - 50, (height / 2) - 50, 100, 100)
        </td>
      </tr><tr>
        <td>
          20
        </td>
        <td>
          1327
        </td>
        <td>
          554
          -
          584
        </td>
        <td>
          Apply
        </td>
        <td>
          setColor
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.setColor(Color.WHITE)
        </td>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          1328
        </td>
        <td>
          589
          -
          646
        </td>
        <td>
          Apply
        </td>
        <td>
          drawString
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.drawString(&quot;FINE GIOCO&quot;, width/2 - 30, height/2)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>