<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/gui/GUI.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view.gui
</span>2 <span style=''>
</span>3 <span style=''>import controller.Event
</span>4 <span style=''>import model.World
</span>5 <span style=''>import monix.eval.Task
</span>6 <span style=''>import monix.reactive.Observable
</span>7 <span style=''>import monix.reactive.subjects.PublishSubject
</span>8 <span style=''>import org.w3c.dom.events.MouseEvent
</span>9 <span style=''>import view.gui.UI
</span>10 <span style=''>import model.elements2d.Point2D
</span>11 <span style=''>import controller.Event
</span>12 <span style=''>
</span>13 <span style=''>import java.awt.event.MouseMotionListener
</span>14 <span style=''>import java.awt.{BorderLayout, Color, Dimension, Graphics, event, FlowLayout}
</span>15 <span style=''>import javax.swing.*
</span>16 <span style=''>
</span>17 <span style=''>class GUI(width: Int, height: Int) extends UI:
</span>18 <span style=''>    private val frame = </span><span style='background: #F0ADAD'>JFrame(&quot;Game&quot;)</span><span style=''>
</span>19 <span style=''>
</span>20 <span style=''>    </span><span style='background: #F0ADAD'>frame.setSize(width, height)</span><span style=''>
</span>21 <span style=''>    </span><span style='background: #F0ADAD'>frame.setVisible(true)</span><span style=''>
</span>22 <span style=''>    </span><span style='background: #F0ADAD'>frame.setLocationRelativeTo(null)</span><span style=''>
</span>23 <span style=''>    </span><span style='background: #F0ADAD'>frame.setDefaultCloseOperation(WindowConstants.EXIT_ON_CLOSE)</span><span style=''>
</span>24 <span style=''>
</span>25 <span style=''>    </span><span style='background: #F0ADAD'>def render</span><span style=''>(world: World): Task[Unit] = </span><span style='background: #F0ADAD'>Task {
</span>26 <span style=''></span><span style='background: #F0ADAD'>        SwingUtilities.invokeAndWait { () =&gt;
</span>27 <span style=''></span><span style='background: #F0ADAD'>            if (frame.getContentPane.getComponentCount != 0)
</span>28 <span style=''></span><span style='background: #F0ADAD'>                frame.getContentPane.remove(0)
</span>29 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.add(WorldPane(world, width, height))
</span>30 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.repaint()
</span>31 <span style=''></span><span style='background: #F0ADAD'>        }
</span>32 <span style=''></span><span style='background: #F0ADAD'>    }</span><span style=''>
</span>33 <span style=''>
</span>34 <span style=''>    </span><span style='background: #F0ADAD'>def customRender</span><span style=''>(world: World) =
</span>35 <span style=''>        </span><span style='background: #F0ADAD'>SwingUtilities.invokeAndWait { () =&gt;
</span>36 <span style=''></span><span style='background: #F0ADAD'>            if (frame.getContentPane.getComponentCount != 0)
</span>37 <span style=''></span><span style='background: #F0ADAD'>                frame.getContentPane.remove(0)
</span>38 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.add(WorldPane(world, width, height))
</span>39 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.repaint()
</span>40 <span style=''></span><span style='background: #F0ADAD'>        }</span><span style=''>
</span>41 <span style=''>
</span>42 <span style=''>
</span>43 <span style=''>    </span><span style='background: #F0ADAD'>override def events</span><span style=''>: Observable[Event] = </span><span style='background: #F0ADAD'>frame.getContentPane
</span>44 <span style=''></span><span style='background: #F0ADAD'>      .mouseObservable()
</span>45 <span style=''></span><span style='background: #F0ADAD'>      .map((x, y) =&gt; Event.LaunchMissileTo(Point2D(x, y)) )</span><span style=''>
</span>46 <span style=''>
</span>47 <span style=''>    </span><span style='background: #F0ADAD'>override def gameOver</span><span style=''>: Task[Unit] = </span><span style='background: #F0ADAD'>Task {
</span>48 <span style=''></span><span style='background: #F0ADAD'>        gameOverRender
</span>49 <span style=''></span><span style='background: #F0ADAD'>    }</span><span style=''>
</span>50 <span style=''>    
</span>51 <span style=''>    </span><span style='background: #F0ADAD'>def gameOverRender</span><span style=''>: Task[Unit] = </span><span style='background: #F0ADAD'>Task {
</span>52 <span style=''></span><span style='background: #F0ADAD'>
</span>53 <span style=''></span><span style='background: #F0ADAD'>        SwingUtilities.invokeAndWait { () =&gt;
</span>54 <span style=''></span><span style='background: #F0ADAD'>            if (frame.getContentPane.getComponentCount != 0)
</span>55 <span style=''></span><span style='background: #F0ADAD'>                frame.getContentPane.remove(0)
</span>56 <span style=''></span><span style='background: #F0ADAD'>            val panel = new JPanel()
</span>57 <span style=''></span><span style='background: #F0ADAD'>            panel.setSize(width, height)
</span>58 <span style=''></span><span style='background: #F0ADAD'>            panel.setLayout(new FlowLayout())
</span>59 <span style=''></span><span style='background: #F0ADAD'>            val button = new JButton()
</span>60 <span style=''></span><span style='background: #F0ADAD'>            button.setText(&quot;RIGIOCA&quot;)
</span>61 <span style=''></span><span style='background: #F0ADAD'>            panel.add(button)
</span>62 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.add(panel)
</span>63 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.repaint()
</span>64 <span style=''></span><span style='background: #F0ADAD'>        }
</span>65 <span style=''></span><span style='background: #F0ADAD'>    }</span><span style=''>
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          17
        </td>
        <td>
          980
        </td>
        <td>
          489
          -
          503
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          JFrame(&quot;Game&quot;)
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          981
        </td>
        <td>
          509
          -
          537
        </td>
        <td>
          Apply
        </td>
        <td>
          setSize
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.setSize(width, height)
        </td>
      </tr><tr>
        <td>
          20
        </td>
        <td>
          982
        </td>
        <td>
          542
          -
          564
        </td>
        <td>
          Apply
        </td>
        <td>
          setVisible
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.setVisible(true)
        </td>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          983
        </td>
        <td>
          569
          -
          602
        </td>
        <td>
          Apply
        </td>
        <td>
          setLocationRelativeTo
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.setLocationRelativeTo(null)
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          984
        </td>
        <td>
          607
          -
          668
        </td>
        <td>
          Apply
        </td>
        <td>
          setDefaultCloseOperation
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.setDefaultCloseOperation(WindowConstants.EXIT_ON_CLOSE)
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          986
        </td>
        <td>
          674
          -
          684
        </td>
        <td>
          DefDef
        </td>
        <td>
          render
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def render
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          985
        </td>
        <td>
          713
          -
          1001
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Task {
        SwingUtilities.invokeAndWait { () =&gt;
            if (frame.getContentPane.getComponentCount != 0)
                frame.getContentPane.remove(0)
            frame.getContentPane.add(WorldPane(world, width, height))
            frame.getContentPane.repaint()
        }
    }
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          998
        </td>
        <td>
          1007
          -
          1023
        </td>
        <td>
          DefDef
        </td>
        <td>
          customRender
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def customRender
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          997
        </td>
        <td>
          1048
          -
          1315
        </td>
        <td>
          Apply
        </td>
        <td>
          invokeAndWait
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          SwingUtilities.invokeAndWait { () =&gt;
            if (frame.getContentPane.getComponentCount != 0)
                frame.getContentPane.remove(0)
            frame.getContentPane.add(WorldPane(world, width, height))
            frame.getContentPane.repaint()
        }
        </td>
      </tr><tr>
        <td>
          35
        </td>
        <td>
          988
        </td>
        <td>
          1101
          -
          1139
        </td>
        <td>
          Apply
        </td>
        <td>
          getComponentCount
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane.getComponentCount
        </td>
      </tr><tr>
        <td>
          35
        </td>
        <td>
          987
        </td>
        <td>
          1101
          -
          1121
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          989
        </td>
        <td>
          1162
          -
          1182
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          991
        </td>
        <td>
          1162
          -
          1192
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane.remove(0)
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          990
        </td>
        <td>
          1162
          -
          1192
        </td>
        <td>
          Apply
        </td>
        <td>
          remove
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane.remove(0)
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          992
        </td>
        <td>
          1205
          -
          1225
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          994
        </td>
        <td>
          1205
          -
          1262
        </td>
        <td>
          Apply
        </td>
        <td>
          add
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane.add(WorldPane(world, width, height))
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          993
        </td>
        <td>
          1230
          -
          1261
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          WorldPane(world, width, height)
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          995
        </td>
        <td>
          1275
          -
          1295
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          996
        </td>
        <td>
          1275
          -
          1305
        </td>
        <td>
          Apply
        </td>
        <td>
          repaint
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane.repaint()
        </td>
      </tr><tr>
        <td>
          42
        </td>
        <td>
          1005
        </td>
        <td>
          1322
          -
          1341
        </td>
        <td>
          DefDef
        </td>
        <td>
          events
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def events
        </td>
      </tr><tr>
        <td>
          42
        </td>
        <td>
          999
        </td>
        <td>
          1363
          -
          1383
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
        </td>
      </tr><tr>
        <td>
          43
        </td>
        <td>
          1000
        </td>
        <td>
          1363
          -
          1408
        </td>
        <td>
          Apply
        </td>
        <td>
          mouseObservable
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
      .mouseObservable()
        </td>
      </tr><tr>
        <td>
          44
        </td>
        <td>
          1001
        </td>
        <td>
          1460
          -
          1461
        </td>
        <td>
          Apply
        </td>
        <td>
          int2double
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          x
        </td>
      </tr><tr>
        <td>
          44
        </td>
        <td>
          1004
        </td>
        <td>
          1363
          -
          1468
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
      .mouseObservable()
      .map((x, y) =&gt; Event.LaunchMissileTo(Point2D(x, y)) )
        </td>
      </tr><tr>
        <td>
          44
        </td>
        <td>
          1003
        </td>
        <td>
          1452
          -
          1465
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Point2D(x, y)
        </td>
      </tr><tr>
        <td>
          44
        </td>
        <td>
          1002
        </td>
        <td>
          1463
          -
          1464
        </td>
        <td>
          Apply
        </td>
        <td>
          int2double
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          y
        </td>
      </tr><tr>
        <td>
          46
        </td>
        <td>
          1007
        </td>
        <td>
          1474
          -
          1495
        </td>
        <td>
          DefDef
        </td>
        <td>
          gameOver
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def gameOver
        </td>
      </tr><tr>
        <td>
          46
        </td>
        <td>
          1006
        </td>
        <td>
          1510
          -
          1545
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Task {
        gameOverRender
    }
        </td>
      </tr><tr>
        <td>
          50
        </td>
        <td>
          1009
        </td>
        <td>
          1555
          -
          1573
        </td>
        <td>
          DefDef
        </td>
        <td>
          gameOverRender
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def gameOverRender
        </td>
      </tr><tr>
        <td>
          50
        </td>
        <td>
          1008
        </td>
        <td>
          1588
          -
          2082
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Task {

        SwingUtilities.invokeAndWait { () =&gt;
            if (frame.getContentPane.getComponentCount != 0)
                frame.getContentPane.remove(0)
            val panel = new JPanel()
            panel.setSize(width, height)
            panel.setLayout(new FlowLayout())
            val button = new JButton()
            button.setText(&quot;RIGIOCA&quot;)
            panel.add(button)
            frame.getContentPane.add(panel)
            frame.getContentPane.repaint()
        }
    }
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>