<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/gui/GUI.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view.gui
</span>2 <span style=''>
</span>3 <span style=''>import controller.Event
</span>4 <span style=''>import model.World
</span>5 <span style=''>import monix.eval.Task
</span>6 <span style=''>import monix.reactive.Observable
</span>7 <span style=''>import monix.reactive.subjects.PublishSubject
</span>8 <span style=''>import org.w3c.dom.events.MouseEvent
</span>9 <span style=''>import view.gui.UI
</span>10 <span style=''>import model.elements2d.Point2D
</span>11 <span style=''>import controller.Event
</span>12 <span style=''>import view.Main
</span>13 <span style=''>
</span>14 <span style=''>import java.awt.event.MouseMotionListener
</span>15 <span style=''>import java.awt.{BorderLayout, Color, Dimension, FlowLayout, Graphics, event}
</span>16 <span style=''>import java.awt.event.ActionEvent
</span>17 <span style=''>import java.awt.event.ActionListener
</span>18 <span style=''>import javax.swing.*
</span>19 <span style=''>
</span>20 <span style=''>class GUI(width: Int, height: Int) extends UI:
</span>21 <span style=''>    private val frame = </span><span style='background: #F0ADAD'>JFrame(&quot;Game&quot;)</span><span style=''>
</span>22 <span style=''>
</span>23 <span style=''>    </span><span style='background: #F0ADAD'>frame.setSize(width, height)</span><span style=''>
</span>24 <span style=''>    </span><span style='background: #F0ADAD'>frame.setVisible(true)</span><span style=''>
</span>25 <span style=''>    </span><span style='background: #F0ADAD'>frame.setLocationRelativeTo(null)</span><span style=''>
</span>26 <span style=''>    </span><span style='background: #F0ADAD'>frame.setDefaultCloseOperation(WindowConstants.EXIT_ON_CLOSE)</span><span style=''>
</span>27 <span style=''>
</span>28 <span style=''>    </span><span style='background: #F0ADAD'>def render</span><span style=''>(world: World): Task[Unit] = </span><span style='background: #F0ADAD'>Task {
</span>29 <span style=''></span><span style='background: #F0ADAD'>        SwingUtilities.invokeAndWait { () =&gt;
</span>30 <span style=''></span><span style='background: #F0ADAD'>            if (frame.getContentPane.getComponentCount != 0)
</span>31 <span style=''></span><span style='background: #F0ADAD'>                frame.getContentPane.remove(0)
</span>32 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.add(WorldPane(world, width, height))
</span>33 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.repaint()
</span>34 <span style=''></span><span style='background: #F0ADAD'>        }
</span>35 <span style=''></span><span style='background: #F0ADAD'>    }</span><span style=''>
</span>36 <span style=''>
</span>37 <span style=''>    </span><span style='background: #F0ADAD'>def customRender</span><span style=''>(world: World) =
</span>38 <span style=''>        </span><span style='background: #F0ADAD'>SwingUtilities.invokeAndWait { () =&gt;
</span>39 <span style=''></span><span style='background: #F0ADAD'>            if (frame.getContentPane.getComponentCount != 0)
</span>40 <span style=''></span><span style='background: #F0ADAD'>                frame.getContentPane.remove(0)
</span>41 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.add(WorldPane(world, width, height))
</span>42 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.repaint()
</span>43 <span style=''></span><span style='background: #F0ADAD'>        }</span><span style=''>
</span>44 <span style=''>
</span>45 <span style=''>
</span>46 <span style=''>    </span><span style='background: #F0ADAD'>override def events</span><span style=''>: Observable[Event] = </span><span style='background: #F0ADAD'>frame.getContentPane
</span>47 <span style=''></span><span style='background: #F0ADAD'>      .mouseObservable()
</span>48 <span style=''></span><span style='background: #F0ADAD'>      .map((x, y) =&gt; Event.LaunchMissileTo(Point2D(x, y)) )</span><span style=''>
</span>49 <span style=''>
</span>50 <span style=''>    </span><span style='background: #F0ADAD'>override def gameOver</span><span style=''>: Task[Unit] = </span><span style='background: #F0ADAD'>Task {
</span>51 <span style=''></span><span style='background: #F0ADAD'>        println(&quot;hello1&quot;)
</span>52 <span style=''></span><span style='background: #F0ADAD'>        SwingUtilities.invokeAndWait { () =&gt;
</span>53 <span style=''></span><span style='background: #F0ADAD'>            if (frame.getContentPane.getComponentCount != 0)
</span>54 <span style=''></span><span style='background: #F0ADAD'>                frame.getContentPane.remove(0)
</span>55 <span style=''></span><span style='background: #F0ADAD'>            val panel = new JPanel()
</span>56 <span style=''></span><span style='background: #F0ADAD'>            panel.setSize(width, height)
</span>57 <span style=''></span><span style='background: #F0ADAD'>            panel.setLayout(new FlowLayout())
</span>58 <span style=''></span><span style='background: #F0ADAD'>            val button = new JButton(&quot;RIGIOCA&quot;)
</span>59 <span style=''></span><span style='background: #F0ADAD'>
</span>60 <span style=''></span><span style='background: #F0ADAD'>            button.addActionListener(new ActionListener() {
</span>61 <span style=''></span><span style='background: #F0ADAD'>                override def actionPerformed(e: ActionEvent): Unit = {
</span>62 <span style=''></span><span style='background: #F0ADAD'>                    frame.dispose()
</span>63 <span style=''></span><span style='background: #F0ADAD'>                    Main.startGame()
</span>64 <span style=''></span><span style='background: #F0ADAD'>                }
</span>65 <span style=''></span><span style='background: #F0ADAD'>            })
</span>66 <span style=''></span><span style='background: #F0ADAD'>            button.setText(&quot;RIGIOCA&quot;)
</span>67 <span style=''></span><span style='background: #F0ADAD'>            panel.add(button)
</span>68 <span style=''></span><span style='background: #F0ADAD'>
</span>69 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.add(panel)
</span>70 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.repaint()
</span>71 <span style=''></span><span style='background: #F0ADAD'>            frame.revalidate()
</span>72 <span style=''></span><span style='background: #F0ADAD'>            frame.repaint()
</span>73 <span style=''></span><span style='background: #F0ADAD'>            println(&quot;hello2&quot;)
</span>74 <span style=''></span><span style='background: #F0ADAD'>        }
</span>75 <span style=''></span><span style='background: #F0ADAD'>    }</span><span style=''>
</span>76 <span style=''>    
</span>77 <span style=''>//    def gameOverRender: Task[Unit] = Task {
</span>78 <span style=''>//        println(&quot;hello1&quot;)
</span>79 <span style=''>//        SwingUtilities.invokeAndWait { () =&gt;
</span>80 <span style=''>//            if (frame.getContentPane.getComponentCount != 0)
</span>81 <span style=''>//                frame.getContentPane.remove(0)
</span>82 <span style=''>//            val panel = new JPanel()
</span>83 <span style=''>//            panel.setSize(width, height)
</span>84 <span style=''>//            panel.setLayout(new FlowLayout())
</span>85 <span style=''>//            val button = new JButton()
</span>86 <span style=''>//            button.setText(&quot;RIGIOCA&quot;)
</span>87 <span style=''>//            panel.add(button)
</span>88 <span style=''>//            frame.getContentPane.add(panel)
</span>89 <span style=''>//            frame.getContentPane.repaint()
</span>90 <span style=''>//            println(&quot;hello2&quot;)
</span>91 <span style=''>//        }
</span>92 <span style=''>//    }
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          20
        </td>
        <td>
          981
        </td>
        <td>
          577
          -
          591
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          JFrame(&quot;Game&quot;)
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          982
        </td>
        <td>
          597
          -
          625
        </td>
        <td>
          Apply
        </td>
        <td>
          setSize
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.setSize(width, height)
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          983
        </td>
        <td>
          630
          -
          652
        </td>
        <td>
          Apply
        </td>
        <td>
          setVisible
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.setVisible(true)
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          984
        </td>
        <td>
          657
          -
          690
        </td>
        <td>
          Apply
        </td>
        <td>
          setLocationRelativeTo
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.setLocationRelativeTo(null)
        </td>
      </tr><tr>
        <td>
          25
        </td>
        <td>
          985
        </td>
        <td>
          695
          -
          756
        </td>
        <td>
          Apply
        </td>
        <td>
          setDefaultCloseOperation
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.setDefaultCloseOperation(WindowConstants.EXIT_ON_CLOSE)
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          986
        </td>
        <td>
          801
          -
          1089
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Task {
        SwingUtilities.invokeAndWait { () =&gt;
            if (frame.getContentPane.getComponentCount != 0)
                frame.getContentPane.remove(0)
            frame.getContentPane.add(WorldPane(world, width, height))
            frame.getContentPane.repaint()
        }
    }
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          987
        </td>
        <td>
          762
          -
          772
        </td>
        <td>
          DefDef
        </td>
        <td>
          render
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def render
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          999
        </td>
        <td>
          1095
          -
          1111
        </td>
        <td>
          DefDef
        </td>
        <td>
          customRender
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def customRender
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          998
        </td>
        <td>
          1136
          -
          1403
        </td>
        <td>
          Apply
        </td>
        <td>
          invokeAndWait
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          SwingUtilities.invokeAndWait { () =&gt;
            if (frame.getContentPane.getComponentCount != 0)
                frame.getContentPane.remove(0)
            frame.getContentPane.add(WorldPane(world, width, height))
            frame.getContentPane.repaint()
        }
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          989
        </td>
        <td>
          1189
          -
          1227
        </td>
        <td>
          Apply
        </td>
        <td>
          getComponentCount
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane.getComponentCount
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          988
        </td>
        <td>
          1189
          -
          1209
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          992
        </td>
        <td>
          1250
          -
          1280
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane.remove(0)
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          991
        </td>
        <td>
          1250
          -
          1280
        </td>
        <td>
          Apply
        </td>
        <td>
          remove
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane.remove(0)
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          990
        </td>
        <td>
          1250
          -
          1270
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
        </td>
      </tr><tr>
        <td>
          40
        </td>
        <td>
          995
        </td>
        <td>
          1293
          -
          1350
        </td>
        <td>
          Apply
        </td>
        <td>
          add
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane.add(WorldPane(world, width, height))
        </td>
      </tr><tr>
        <td>
          40
        </td>
        <td>
          994
        </td>
        <td>
          1318
          -
          1349
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          WorldPane(world, width, height)
        </td>
      </tr><tr>
        <td>
          40
        </td>
        <td>
          993
        </td>
        <td>
          1293
          -
          1313
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
        </td>
      </tr><tr>
        <td>
          41
        </td>
        <td>
          997
        </td>
        <td>
          1363
          -
          1393
        </td>
        <td>
          Apply
        </td>
        <td>
          repaint
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane.repaint()
        </td>
      </tr><tr>
        <td>
          41
        </td>
        <td>
          996
        </td>
        <td>
          1363
          -
          1383
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          1006
        </td>
        <td>
          1410
          -
          1429
        </td>
        <td>
          DefDef
        </td>
        <td>
          events
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def events
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          1000
        </td>
        <td>
          1451
          -
          1471
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
        </td>
      </tr><tr>
        <td>
          46
        </td>
        <td>
          1001
        </td>
        <td>
          1451
          -
          1496
        </td>
        <td>
          Apply
        </td>
        <td>
          mouseObservable
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
      .mouseObservable()
        </td>
      </tr><tr>
        <td>
          47
        </td>
        <td>
          1004
        </td>
        <td>
          1540
          -
          1553
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Point2D(x, y)
        </td>
      </tr><tr>
        <td>
          47
        </td>
        <td>
          1003
        </td>
        <td>
          1551
          -
          1552
        </td>
        <td>
          Apply
        </td>
        <td>
          int2double
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          y
        </td>
      </tr><tr>
        <td>
          47
        </td>
        <td>
          1005
        </td>
        <td>
          1451
          -
          1556
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
      .mouseObservable()
      .map((x, y) =&gt; Event.LaunchMissileTo(Point2D(x, y)) )
        </td>
      </tr><tr>
        <td>
          47
        </td>
        <td>
          1002
        </td>
        <td>
          1548
          -
          1549
        </td>
        <td>
          Apply
        </td>
        <td>
          int2double
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          x
        </td>
      </tr><tr>
        <td>
          49
        </td>
        <td>
          1007
        </td>
        <td>
          1598
          -
          2454
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Task {
        println(&quot;hello1&quot;)
        SwingUtilities.invokeAndWait { () =&gt;
            if (frame.getContentPane.getComponentCount != 0)
                frame.getContentPane.remove(0)
            val panel = new JPanel()
            panel.setSize(width, height)
            panel.setLayout(new FlowLayout())
            val button = new JButton(&quot;RIGIOCA&quot;)

            button.addActionListener(new ActionListener() {
                override def actionPerformed(e: ActionEvent): Unit = {
                    frame.dispose()
                    Main.startGame()
                }
            })
            button.setText(&quot;RIGIOCA&quot;)
            panel.add(button)

            frame.getContentPane.add(panel)
            frame.getContentPane.repaint()
            frame.revalidate()
            frame.repaint()
            println(&quot;hello2&quot;)
        }
    }
        </td>
      </tr><tr>
        <td>
          49
        </td>
        <td>
          1008
        </td>
        <td>
          1562
          -
          1583
        </td>
        <td>
          DefDef
        </td>
        <td>
          gameOver
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def gameOver
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>