<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/gui/GUI.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view.gui
</span>2 <span style=''>
</span>3 <span style=''>import controller.{Controller, Event}
</span>4 <span style=''>import monix.eval.Task
</span>5 <span style=''>import monix.reactive.Observable
</span>6 <span style=''>import monix.reactive.subjects.PublishSubject
</span>7 <span style=''>import org.w3c.dom.events.MouseEvent
</span>8 <span style=''>import view.gui.UI
</span>9 <span style=''>import model.elements2d.Point2D
</span>10 <span style=''>import controller.Event
</span>11 <span style=''>import model.{Game, World}
</span>12 <span style=''>import view.{Main, ViewConstants}
</span>13 <span style=''>import view.gui.WorldPane
</span>14 <span style=''>
</span>15 <span style=''>import java.awt.event.MouseMotionListener
</span>16 <span style=''>import java.awt.{BorderLayout, Color, Dimension, FlowLayout, Graphics, event}
</span>17 <span style=''>import java.awt.event.ActionEvent
</span>18 <span style=''>import java.awt.event.ActionListener
</span>19 <span style=''>import javax.swing.*
</span>20 <span style=''>
</span>21 <span style=''>class GUI(width: Int, height: Int) extends UI:
</span>22 <span style=''>    private val frame = </span><span style='background: #F0ADAD'>JFrame(&quot;Game&quot;)</span><span style=''>
</span>23 <span style=''>
</span>24 <span style=''>    </span><span style='background: #F0ADAD'>frame.setSize(width, height)</span><span style=''>
</span>25 <span style=''>    </span><span style='background: #F0ADAD'>frame.setVisible(true)</span><span style=''>
</span>26 <span style=''>    </span><span style='background: #F0ADAD'>frame.setLocationRelativeTo(null)</span><span style=''>
</span>27 <span style=''>    </span><span style='background: #F0ADAD'>frame.setDefaultCloseOperation(WindowConstants.EXIT_ON_CLOSE)</span><span style=''>
</span>28 <span style=''>
</span>29 <span style=''>    </span><span style='background: #F0ADAD'>def render</span><span style=''>(game: Game): Task[Unit] = </span><span style='background: #F0ADAD'>Task {
</span>30 <span style=''></span><span style='background: #F0ADAD'>        SwingUtilities.invokeLater { () =&gt;
</span>31 <span style=''></span><span style='background: #F0ADAD'>            if (frame.getContentPane.getComponentCount != 0)
</span>32 <span style=''></span><span style='background: #F0ADAD'>                frame.getContentPane.remove(0)
</span>33 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.add(WorldPane(game, width, height))
</span>34 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.repaint()
</span>35 <span style=''></span><span style='background: #F0ADAD'>        }
</span>36 <span style=''></span><span style='background: #F0ADAD'>    }</span><span style=''>
</span>37 <span style=''>
</span>38 <span style=''>    </span><span style='background: #F0ADAD'>override def events</span><span style=''>: Observable[Event] = </span><span style='background: #F0ADAD'>frame.getContentPane
</span>39 <span style=''></span><span style='background: #F0ADAD'>      .mouseObservable()
</span>40 <span style=''></span><span style='background: #F0ADAD'>      .map(p =&gt; Event.LaunchMissileTo(Point2D((p.x.toDouble * World.width.toDouble) / ViewConstants.GUI_width.toDouble, (p.y.toDouble * World.height.toDouble) / ViewConstants.GUI_height.toDouble )) )</span><span style=''>
</span>41 <span style=''>
</span>42 <span style=''>    </span><span style='background: #F0ADAD'>override def gameOver</span><span style=''>(game: Game): Task[Unit] = </span><span style='background: #F0ADAD'>Task {
</span>43 <span style=''></span><span style='background: #F0ADAD'>        SwingUtilities.invokeLater { () =&gt;
</span>44 <span style=''></span><span style='background: #F0ADAD'>            if (frame.getContentPane.getComponentCount != 0)
</span>45 <span style=''></span><span style='background: #F0ADAD'>                frame.getContentPane.remove(0)
</span>46 <span style=''></span><span style='background: #F0ADAD'>            val panel = new JPanel()
</span>47 <span style=''></span><span style='background: #F0ADAD'>            panel.setSize(width, height)
</span>48 <span style=''></span><span style='background: #F0ADAD'>            panel.setLayout(new FlowLayout())
</span>49 <span style=''></span><span style='background: #F0ADAD'>            val button = new JButton(&quot;RIGIOCA&quot;)
</span>50 <span style=''></span><span style='background: #F0ADAD'>            val score = new JLabel(s&quot;SCORE FINALE: ${game.player.score}&quot;)
</span>51 <span style=''></span><span style='background: #F0ADAD'>            val time = new JLabel(s&quot;TEMPO DI GIOCO: ${game.player.timer.time}&quot;)
</span>52 <span style=''></span><span style='background: #F0ADAD'>            button.addActionListener(new ActionListener() {
</span>53 <span style=''></span><span style='background: #F0ADAD'>                override def actionPerformed(e: ActionEvent): Unit = {
</span>54 <span style=''></span><span style='background: #F0ADAD'>                    frame.dispose()
</span>55 <span style=''></span><span style='background: #F0ADAD'>                    Main.main(null)
</span>56 <span style=''></span><span style='background: #F0ADAD'>                }
</span>57 <span style=''></span><span style='background: #F0ADAD'>            })
</span>58 <span style=''></span><span style='background: #F0ADAD'>            panel.add(button)
</span>59 <span style=''></span><span style='background: #F0ADAD'>            panel.add(score)
</span>60 <span style=''></span><span style='background: #F0ADAD'>            panel.add(time)
</span>61 <span style=''></span><span style='background: #F0ADAD'>
</span>62 <span style=''></span><span style='background: #F0ADAD'>            frame.getContentPane.add(panel)
</span>63 <span style=''></span><span style='background: #F0ADAD'>            frame.revalidate()
</span>64 <span style=''></span><span style='background: #F0ADAD'>            frame.repaint()
</span>65 <span style=''></span><span style='background: #F0ADAD'>        }
</span>66 <span style=''></span><span style='background: #F0ADAD'>    }</span><span style=''>
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          1519
        </td>
        <td>
          642
          -
          656
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          JFrame(&quot;Game&quot;)
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          1520
        </td>
        <td>
          662
          -
          690
        </td>
        <td>
          Apply
        </td>
        <td>
          setSize
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.setSize(width, height)
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1521
        </td>
        <td>
          695
          -
          717
        </td>
        <td>
          Apply
        </td>
        <td>
          setVisible
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.setVisible(true)
        </td>
      </tr><tr>
        <td>
          25
        </td>
        <td>
          1522
        </td>
        <td>
          722
          -
          755
        </td>
        <td>
          Apply
        </td>
        <td>
          setLocationRelativeTo
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.setLocationRelativeTo(null)
        </td>
      </tr><tr>
        <td>
          26
        </td>
        <td>
          1523
        </td>
        <td>
          760
          -
          821
        </td>
        <td>
          Apply
        </td>
        <td>
          setDefaultCloseOperation
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.setDefaultCloseOperation(WindowConstants.EXIT_ON_CLOSE)
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          1524
        </td>
        <td>
          864
          -
          1149
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Task {
        SwingUtilities.invokeLater { () =&gt;
            if (frame.getContentPane.getComponentCount != 0)
                frame.getContentPane.remove(0)
            frame.getContentPane.add(WorldPane(game, width, height))
            frame.getContentPane.repaint()
        }
    }
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          1525
        </td>
        <td>
          827
          -
          837
        </td>
        <td>
          DefDef
        </td>
        <td>
          render
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def render
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          1532
        </td>
        <td>
          1155
          -
          1174
        </td>
        <td>
          DefDef
        </td>
        <td>
          events
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def events
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          1526
        </td>
        <td>
          1196
          -
          1216
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          1527
        </td>
        <td>
          1196
          -
          1241
        </td>
        <td>
          Apply
        </td>
        <td>
          mouseObservable
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
      .mouseObservable()
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          1528
        </td>
        <td>
          1289
          -
          1292
        </td>
        <td>
          Select
        </td>
        <td>
          x
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          p.x
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          1530
        </td>
        <td>
          1280
          -
          1438
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Point2D((p.x.toDouble * World.width.toDouble) / ViewConstants.GUI_width.toDouble, (p.y.toDouble * World.height.toDouble) / ViewConstants.GUI_height.toDouble )
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          1529
        </td>
        <td>
          1363
          -
          1366
        </td>
        <td>
          Select
        </td>
        <td>
          y
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          p.y
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          1531
        </td>
        <td>
          1196
          -
          1441
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          frame.getContentPane
      .mouseObservable()
      .map(p =&gt; Event.LaunchMissileTo(Point2D((p.x.toDouble * World.width.toDouble) / ViewConstants.GUI_width.toDouble, (p.y.toDouble * World.height.toDouble) / ViewConstants.GUI_height.toDouble )) )
        </td>
      </tr><tr>
        <td>
          41
        </td>
        <td>
          1533
        </td>
        <td>
          1495
          -
          2421
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Task {
        SwingUtilities.invokeLater { () =&gt;
            if (frame.getContentPane.getComponentCount != 0)
                frame.getContentPane.remove(0)
            val panel = new JPanel()
            panel.setSize(width, height)
            panel.setLayout(new FlowLayout())
            val button = new JButton(&quot;RIGIOCA&quot;)
            val score = new JLabel(s&quot;SCORE FINALE: ${game.player.score}&quot;)
            val time = new JLabel(s&quot;TEMPO DI GIOCO: ${game.player.timer.time}&quot;)
            button.addActionListener(new ActionListener() {
                override def actionPerformed(e: ActionEvent): Unit = {
                    frame.dispose()
                    Main.main(null)
                }
            })
            panel.add(button)
            panel.add(score)
            panel.add(time)

            frame.getContentPane.add(panel)
            frame.revalidate()
            frame.repaint()
        }
    }
        </td>
      </tr><tr>
        <td>
          41
        </td>
        <td>
          1534
        </td>
        <td>
          1447
          -
          1468
        </td>
        <td>
          DefDef
        </td>
        <td>
          gameOver
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def gameOver
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>