<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/gui/MainPane.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view.gui
</span>2 <span style=''>
</span>3 <span style=''>import java.awt.FlowLayout
</span>4 <span style=''>import java.awt.event.{ActionEvent, ActionListener}
</span>5 <span style=''>import javax.swing.{JButton, JFrame, JPanel, SwingUtilities, WindowConstants}
</span>6 <span style=''>
</span>7 <span style=''>class MainPane(start: () =&gt; _, width: Int, height: Int) extends </span><span style='background: #F0ADAD'>JFrame</span><span style=''>:
</span>8 <span style=''>
</span>9 <span style=''>  </span><span style='background: #F0ADAD'>this.setSize(width, height)</span><span style=''>
</span>10 <span style=''>  </span><span style='background: #F0ADAD'>this.setVisible(true)</span><span style=''>
</span>11 <span style=''>  </span><span style='background: #F0ADAD'>this.setLocationRelativeTo(null)</span><span style=''>
</span>12 <span style=''>  </span><span style='background: #F0ADAD'>this.setDefaultCloseOperation(WindowConstants.EXIT_ON_CLOSE)</span><span style=''>
</span>13 <span style=''>
</span>14 <span style=''>  </span><span style='background: #F0ADAD'>this.initialPage()</span><span style=''>
</span>15 <span style=''>
</span>16 <span style=''>  </span><span style='background: #F0ADAD'>def initialPage</span><span style=''>(): Unit =
</span>17 <span style=''>    </span><span style='background: #F0ADAD'>SwingUtilities.invokeLater { () =&gt;
</span>18 <span style=''></span><span style='background: #F0ADAD'>      if (this.getContentPane.getComponentCount != 0)
</span>19 <span style=''></span><span style='background: #F0ADAD'>        this.getContentPane.remove(0)
</span>20 <span style=''></span><span style='background: #F0ADAD'>      val panel = new JPanel()
</span>21 <span style=''></span><span style='background: #F0ADAD'>      panel.setSize(width, height)
</span>22 <span style=''></span><span style='background: #F0ADAD'>      panel.setLayout(new FlowLayout())
</span>23 <span style=''></span><span style='background: #F0ADAD'>      val button = new JButton(&quot;AVVIA PARTITA&quot;)
</span>24 <span style=''></span><span style='background: #F0ADAD'>      button.addActionListener(new ActionListener() {
</span>25 <span style=''></span><span style='background: #F0ADAD'>        override def actionPerformed(e: ActionEvent): Unit = {
</span>26 <span style=''></span><span style='background: #F0ADAD'>          dispose()
</span>27 <span style=''></span><span style='background: #F0ADAD'>          start()
</span>28 <span style=''></span><span style='background: #F0ADAD'>        }
</span>29 <span style=''></span><span style='background: #F0ADAD'>      })
</span>30 <span style=''></span><span style='background: #F0ADAD'>      panel.add(button)
</span>31 <span style=''></span><span style='background: #F0ADAD'>
</span>32 <span style=''></span><span style='background: #F0ADAD'>      this.getContentPane.add(panel)
</span>33 <span style=''></span><span style='background: #F0ADAD'>      this.revalidate()
</span>34 <span style=''></span><span style='background: #F0ADAD'>      this.repaint()
</span>35 <span style=''></span><span style='background: #F0ADAD'>    }</span><span style=''>
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          6
        </td>
        <td>
          1568
        </td>
        <td>
          240
          -
          246
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          JFrame
        </td>
      </tr><tr>
        <td>
          8
        </td>
        <td>
          1569
        </td>
        <td>
          251
          -
          278
        </td>
        <td>
          Apply
        </td>
        <td>
          setSize
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.setSize(width, height)
        </td>
      </tr><tr>
        <td>
          9
        </td>
        <td>
          1570
        </td>
        <td>
          281
          -
          302
        </td>
        <td>
          Apply
        </td>
        <td>
          setVisible
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.setVisible(true)
        </td>
      </tr><tr>
        <td>
          10
        </td>
        <td>
          1571
        </td>
        <td>
          305
          -
          337
        </td>
        <td>
          Apply
        </td>
        <td>
          setLocationRelativeTo
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.setLocationRelativeTo(null)
        </td>
      </tr><tr>
        <td>
          11
        </td>
        <td>
          1572
        </td>
        <td>
          340
          -
          400
        </td>
        <td>
          Apply
        </td>
        <td>
          setDefaultCloseOperation
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.setDefaultCloseOperation(WindowConstants.EXIT_ON_CLOSE)
        </td>
      </tr><tr>
        <td>
          13
        </td>
        <td>
          1573
        </td>
        <td>
          404
          -
          422
        </td>
        <td>
          Apply
        </td>
        <td>
          initialPage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.initialPage()
        </td>
      </tr><tr>
        <td>
          15
        </td>
        <td>
          1595
        </td>
        <td>
          426
          -
          441
        </td>
        <td>
          DefDef
        </td>
        <td>
          initialPage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def initialPage
        </td>
      </tr><tr>
        <td>
          16
        </td>
        <td>
          1594
        </td>
        <td>
          456
          -
          1023
        </td>
        <td>
          Apply
        </td>
        <td>
          invokeLater
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          SwingUtilities.invokeLater { () =&gt;
      if (this.getContentPane.getComponentCount != 0)
        this.getContentPane.remove(0)
      val panel = new JPanel()
      panel.setSize(width, height)
      panel.setLayout(new FlowLayout())
      val button = new JButton(&quot;AVVIA PARTITA&quot;)
      button.addActionListener(new ActionListener() {
        override def actionPerformed(e: ActionEvent): Unit = {
          dispose()
          start()
        }
      })
      panel.add(button)

      this.getContentPane.add(panel)
      this.revalidate()
      this.repaint()
    }
        </td>
      </tr><tr>
        <td>
          17
        </td>
        <td>
          1575
        </td>
        <td>
          501
          -
          538
        </td>
        <td>
          Apply
        </td>
        <td>
          getComponentCount
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.getContentPane.getComponentCount
        </td>
      </tr><tr>
        <td>
          17
        </td>
        <td>
          1574
        </td>
        <td>
          501
          -
          520
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.getContentPane
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          1578
        </td>
        <td>
          553
          -
          582
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.getContentPane.remove(0)
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          1577
        </td>
        <td>
          553
          -
          582
        </td>
        <td>
          Apply
        </td>
        <td>
          remove
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.getContentPane.remove(0)
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          1576
        </td>
        <td>
          553
          -
          572
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.getContentPane
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          1579
        </td>
        <td>
          601
          -
          613
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          new JPanel()
        </td>
      </tr><tr>
        <td>
          20
        </td>
        <td>
          1580
        </td>
        <td>
          620
          -
          648
        </td>
        <td>
          Apply
        </td>
        <td>
          setSize
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          panel.setSize(width, height)
        </td>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          1581
        </td>
        <td>
          671
          -
          687
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          new FlowLayout()
        </td>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          1582
        </td>
        <td>
          655
          -
          688
        </td>
        <td>
          Apply
        </td>
        <td>
          setLayout
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          panel.setLayout(new FlowLayout())
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          1583
        </td>
        <td>
          708
          -
          736
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          new JButton(&quot;AVVIA PARTITA&quot;)
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          1584
        </td>
        <td>
          772
          -
          788
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          ActionListener()
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          1588
        </td>
        <td>
          743
          -
          910
        </td>
        <td>
          Apply
        </td>
        <td>
          addActionListener
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          button.addActionListener(new ActionListener() {
        override def actionPerformed(e: ActionEvent): Unit = {
          dispose()
          start()
        }
      })
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1587
        </td>
        <td>
          799
          -
          827
        </td>
        <td>
          DefDef
        </td>
        <td>
          actionPerformed
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def actionPerformed
        </td>
      </tr><tr>
        <td>
          25
        </td>
        <td>
          1585
        </td>
        <td>
          864
          -
          873
        </td>
        <td>
          Apply
        </td>
        <td>
          dispose
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          dispose()
        </td>
      </tr><tr>
        <td>
          26
        </td>
        <td>
          1586
        </td>
        <td>
          884
          -
          891
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          start()
        </td>
      </tr><tr>
        <td>
          29
        </td>
        <td>
          1589
        </td>
        <td>
          917
          -
          934
        </td>
        <td>
          Apply
        </td>
        <td>
          add
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          panel.add(button)
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          1590
        </td>
        <td>
          942
          -
          961
        </td>
        <td>
          Apply
        </td>
        <td>
          getContentPane
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.getContentPane
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          1591
        </td>
        <td>
          942
          -
          972
        </td>
        <td>
          Apply
        </td>
        <td>
          add
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.getContentPane.add(panel)
        </td>
      </tr><tr>
        <td>
          32
        </td>
        <td>
          1592
        </td>
        <td>
          979
          -
          996
        </td>
        <td>
          Apply
        </td>
        <td>
          revalidate
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.revalidate()
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          1593
        </td>
        <td>
          1003
          -
          1017
        </td>
        <td>
          Apply
        </td>
        <td>
          repaint
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.repaint()
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>