<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/gui/MouseHandler.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view.gui
</span>2 <span style=''>
</span>3 <span style=''>import model.elements2d.Point2D
</span>4 <span style=''>
</span>5 <span style=''>import java.awt.Component
</span>6 <span style=''>import monix.execution.cancelables.SingleAssignCancelable
</span>7 <span style=''>import monix.reactive.{Observable, OverflowStrategy}
</span>8 <span style=''>import monix.reactive.subjects.PublishSubject
</span>9 <span style=''>
</span>10 <span style=''>import java.awt.event.{MouseAdapter, MouseEvent, MouseMotionListener}
</span>11 <span style=''>
</span>12 <span style=''>/**
</span>13 <span style=''> * Extension method that adds a new mouseObservable method to [[Component]].
</span>14 <span style=''> * This method returns an Observable[Point2D] that adds a mouse clicked listener to the given
</span>15 <span style=''> * component and generating new events as the click are listened
</span>16 <span style=''> */
</span>17 <span style=''>extension (component: Component)
</span>18 <span style=''>  </span><span style='background: #F0ADAD'>def mouseObservable</span><span style=''>(): Observable[Point2D] =
</span>19 <span style=''>    </span><span style='background: #F0ADAD'>Observable.create(OverflowStrategy.Unbounded) { subject =&gt;
</span>20 <span style=''></span><span style='background: #F0ADAD'>      component.addMouseListener(new MouseAdapter:
</span>21 <span style=''></span><span style='background: #F0ADAD'>        override def mouseClicked(e: MouseEvent): Unit =
</span>22 <span style=''></span><span style='background: #F0ADAD'>          subject.onNext(Point2D(e.getX, e.getY))
</span>23 <span style=''></span><span style='background: #F0ADAD'>      )
</span>24 <span style=''></span><span style='background: #F0ADAD'>      SingleAssignCancelable()
</span>25 <span style=''></span><span style='background: #F0ADAD'>    }</span><span style=''>
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          17
        </td>
        <td>
          1305
        </td>
        <td>
          585
          -
          604
        </td>
        <td>
          DefDef
        </td>
        <td>
          mouseObservable
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def mouseObservable
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          1293
        </td>
        <td>
          634
          -
          651
        </td>
        <td>
          Select
        </td>
        <td>
          create$default$2
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Observable.create
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          1304
        </td>
        <td>
          634
          -
          895
        </td>
        <td>
          Apply
        </td>
        <td>
          create
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Observable.create(OverflowStrategy.Unbounded) { subject =&gt;
      component.addMouseListener(new MouseAdapter:
        override def mouseClicked(e: MouseEvent): Unit =
          subject.onNext(Point2D(e.getX, e.getY))
      )
      SingleAssignCancelable()
    }
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          1294
        </td>
        <td>
          730
          -
          742
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          MouseAdapter
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          1302
        </td>
        <td>
          699
          -
          858
        </td>
        <td>
          Apply
        </td>
        <td>
          addMouseListener
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          component.addMouseListener(new MouseAdapter:
        override def mouseClicked(e: MouseEvent): Unit =
          subject.onNext(Point2D(e.getX, e.getY))
      )
        </td>
      </tr><tr>
        <td>
          20
        </td>
        <td>
          1301
        </td>
        <td>
          752
          -
          777
        </td>
        <td>
          DefDef
        </td>
        <td>
          mouseClicked
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def mouseClicked
        </td>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          1297
        </td>
        <td>
          842
          -
          848
        </td>
        <td>
          Apply
        </td>
        <td>
          getY
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.getY
        </td>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          1300
        </td>
        <td>
          811
          -
          850
        </td>
        <td>
          Apply
        </td>
        <td>
          onNext
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          subject.onNext(Point2D(e.getX, e.getY))
        </td>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          1296
        </td>
        <td>
          834
          -
          840
        </td>
        <td>
          Apply
        </td>
        <td>
          int2double
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.getX
        </td>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          1299
        </td>
        <td>
          826
          -
          849
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Point2D(e.getX, e.getY)
        </td>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          1295
        </td>
        <td>
          834
          -
          840
        </td>
        <td>
          Apply
        </td>
        <td>
          getX
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.getX
        </td>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          1298
        </td>
        <td>
          842
          -
          848
        </td>
        <td>
          Apply
        </td>
        <td>
          int2double
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.getY
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          1303
        </td>
        <td>
          865
          -
          889
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          SingleAssignCancelable()
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>