<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/gui/MouseHandler.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view.gui
</span>2 <span style=''>
</span>3 <span style=''>import model.elements2d.Point2D
</span>4 <span style=''>
</span>5 <span style=''>import java.awt.Component
</span>6 <span style=''>import monix.execution.cancelables.SingleAssignCancelable
</span>7 <span style=''>import monix.reactive.{Observable, OverflowStrategy}
</span>8 <span style=''>
</span>9 <span style=''>import java.awt.event.{MouseAdapter, MouseEvent, MouseMotionListener}
</span>10 <span style=''>import javax.swing.JButton
</span>11 <span style=''>
</span>12 <span style=''>extension (component: Component)
</span>13 <span style=''>  /**
</span>14 <span style=''>  * Extension method that adds a new mouseObservable method to [[Component]].
</span>15 <span style=''>  * This method returns an Observable[Point2D] that adds a mouse clicked listener to the given
</span>16 <span style=''>  * component and generating new events as the click are listened
</span>17 <span style=''>  * @return the observable of click events
</span>18 <span style=''>  */
</span>19 <span style=''>  </span><span style='background: #F0ADAD'>def mouseObservable</span><span style=''>(): Observable[Point2D] =
</span>20 <span style=''>    </span><span style='background: #F0ADAD'>Observable.create(OverflowStrategy.Unbounded) { subject =&gt;
</span>21 <span style=''></span><span style='background: #F0ADAD'>      component.addMouseListener(new MouseAdapter :
</span>22 <span style=''></span><span style='background: #F0ADAD'>        override def mouseClicked(e: MouseEvent): Unit =
</span>23 <span style=''></span><span style='background: #F0ADAD'>          subject.onNext(Point2D(e.getX, e.getY))
</span>24 <span style=''></span><span style='background: #F0ADAD'>      )
</span>25 <span style=''></span><span style='background: #F0ADAD'>      SingleAssignCancelable()
</span>26 <span style=''></span><span style='background: #F0ADAD'>    }</span><span style=''>
</span>27 <span style=''>
</span>28 <span style=''>extension (button: JButton)
</span>29 <span style=''>
</span>30 <span style=''>  /**
</span>31 <span style=''>   * Extension method that emits a new event every time the [[JButton]] is clicked.
</span>32 <span style=''>   *
</span>33 <span style=''>   * @return an Observable[Unit] that emits a new event every time the button is clicked
</span>34 <span style=''>   */
</span>35 <span style=''>  </span><span style='background: #F0ADAD'>def clickObservable</span><span style=''>(): Observable[Unit] =
</span>36 <span style=''>    </span><span style='background: #F0ADAD'>Observable.create(OverflowStrategy.Unbounded) { subject =&gt;
</span>37 <span style=''></span><span style='background: #F0ADAD'>      button.addActionListener(
</span>38 <span style=''></span><span style='background: #F0ADAD'>        _ =&gt;
</span>39 <span style=''></span><span style='background: #F0ADAD'>          subject.onNext(())
</span>40 <span style=''></span><span style='background: #F0ADAD'>      )
</span>41 <span style=''></span><span style='background: #F0ADAD'>      SingleAssignCancelable()
</span>42 <span style=''></span><span style='background: #F0ADAD'>    }</span><span style=''>
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          1644
        </td>
        <td>
          615
          -
          634
        </td>
        <td>
          DefDef
        </td>
        <td>
          mouseObservable
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def mouseObservable
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          1632
        </td>
        <td>
          664
          -
          681
        </td>
        <td>
          Select
        </td>
        <td>
          create$default$2
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Observable.create
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          1643
        </td>
        <td>
          664
          -
          926
        </td>
        <td>
          Apply
        </td>
        <td>
          create
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Observable.create(OverflowStrategy.Unbounded) { subject =&gt;
      component.addMouseListener(new MouseAdapter :
        override def mouseClicked(e: MouseEvent): Unit =
          subject.onNext(Point2D(e.getX, e.getY))
      )
      SingleAssignCancelable()
    }
        </td>
      </tr><tr>
        <td>
          20
        </td>
        <td>
          1641
        </td>
        <td>
          729
          -
          889
        </td>
        <td>
          Apply
        </td>
        <td>
          addMouseListener
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          component.addMouseListener(new MouseAdapter :
        override def mouseClicked(e: MouseEvent): Unit =
          subject.onNext(Point2D(e.getX, e.getY))
      )
        </td>
      </tr><tr>
        <td>
          20
        </td>
        <td>
          1633
        </td>
        <td>
          760
          -
          772
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          MouseAdapter
        </td>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          1640
        </td>
        <td>
          783
          -
          808
        </td>
        <td>
          DefDef
        </td>
        <td>
          mouseClicked
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def mouseClicked
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          1638
        </td>
        <td>
          857
          -
          880
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Point2D(e.getX, e.getY)
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          1635
        </td>
        <td>
          865
          -
          871
        </td>
        <td>
          Apply
        </td>
        <td>
          int2double
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.getX
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          1634
        </td>
        <td>
          865
          -
          871
        </td>
        <td>
          Apply
        </td>
        <td>
          getX
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.getX
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          1637
        </td>
        <td>
          873
          -
          879
        </td>
        <td>
          Apply
        </td>
        <td>
          int2double
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.getY
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          1636
        </td>
        <td>
          873
          -
          879
        </td>
        <td>
          Apply
        </td>
        <td>
          getY
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.getY
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          1639
        </td>
        <td>
          842
          -
          881
        </td>
        <td>
          Apply
        </td>
        <td>
          onNext
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          subject.onNext(Point2D(e.getX, e.getY))
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1642
        </td>
        <td>
          896
          -
          920
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          SingleAssignCancelable()
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          1650
        </td>
        <td>
          1149
          -
          1168
        </td>
        <td>
          DefDef
        </td>
        <td>
          clickObservable
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def clickObservable
        </td>
      </tr><tr>
        <td>
          35
        </td>
        <td>
          1649
        </td>
        <td>
          1195
          -
          1372
        </td>
        <td>
          Apply
        </td>
        <td>
          create
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Observable.create(OverflowStrategy.Unbounded) { subject =&gt;
      button.addActionListener(
        _ =&gt;
          subject.onNext(())
      )
      SingleAssignCancelable()
    }
        </td>
      </tr><tr>
        <td>
          35
        </td>
        <td>
          1645
        </td>
        <td>
          1195
          -
          1212
        </td>
        <td>
          Select
        </td>
        <td>
          create$default$2
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Observable.create
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          1647
        </td>
        <td>
          1260
          -
          1335
        </td>
        <td>
          Apply
        </td>
        <td>
          addActionListener
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          button.addActionListener(
        _ =&gt;
          subject.onNext(())
      )
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          1646
        </td>
        <td>
          1309
          -
          1327
        </td>
        <td>
          Apply
        </td>
        <td>
          onNext
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          subject.onNext(())
        </td>
      </tr><tr>
        <td>
          40
        </td>
        <td>
          1648
        </td>
        <td>
          1342
          -
          1366
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          SingleAssignCancelable()
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>