<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/gui/WorldPane.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view.gui
</span>2 <span style=''>
</span>3 <span style=''>import model.Game
</span>4 <span style=''>import view.{CollisionableVisualizer, Visualizer}
</span>5 <span style=''>
</span>6 <span style=''>import java.awt.event.MouseMotionListener
</span>7 <span style=''>import java.awt.*
</span>8 <span style=''>import java.awt.geom.AffineTransform
</span>9 <span style=''>import java.awt.image.{AffineTransformOp, BufferedImage}
</span>10 <span style=''>import javax.swing.{JButton, JPanel}
</span>11 <span style=''>import model.elements2d.Angle
</span>12 <span style=''>import view.given_Conversion_Double_Int
</span>13 <span style=''>import PimpingByDouble.roundTwoDecimals
</span>14 <span style=''>
</span>15 <span style=''>import java.io.File
</span>16 <span style=''>import javax.imageio.ImageIO
</span>17 <span style=''>
</span>18 <span style=''>/**
</span>19 <span style=''> * This class represent the World panel where the entire game is drawn
</span>20 <span style=''> * @param game The game to draw
</span>21 <span style=''> * @param width The width of the panel
</span>22 <span style=''> * @param height The height of the panel
</span>23 <span style=''> */
</span>24 <span style=''>private class WorldPane(val game: Game, width: Int, height: Int) extends </span><span style='background: #F0ADAD'>JPanel</span><span style=''>:
</span>25 <span style=''>    </span><span style='background: #F0ADAD'>this.setSize(width, height)</span><span style=''>
</span>26 <span style=''>    val resourceFolderPath: String = (</span><span style='background: #F0ADAD'>System.getProperty(&quot;user.dir&quot;).toString + &quot;\\src\\main\\resources\\&quot;</span><span style=''>)
</span>27 <span style=''>
</span>28 <span style=''>    </span><span style='background: #F0ADAD'>override def paintComponent</span><span style=''>(graphics: Graphics): Unit =
</span>29 <span style=''>        </span><span style='background: #F0ADAD'>super.paintComponent(graphics)</span><span style=''>
</span>30 <span style=''>        val g2d: Graphics2D = graphics.asInstanceOf[Graphics2D]
</span>31 <span style=''>        </span><span style='background: #F0ADAD'>graphics.clearRect(0, 0, width, height)</span><span style=''>
</span>32 <span style=''>        </span><span style='background: #F0ADAD'>graphics.drawString(&quot;SCORE: &quot; + game.player.score, 10, 10)</span><span style=''>
</span>33 <span style=''>        </span><span style='background: #F0ADAD'>graphics.drawString(&quot;TIME: &quot; + game.player.timer.time.roundTwoDecimals, 10, 20)</span><span style=''>
</span>34 <span style=''>        </span><span style='background: #F0ADAD'>Visualizer.printGround(game.world.ground).map(
</span>35 <span style=''></span><span style='background: #F0ADAD'>            imageData =&gt; graphics.drawImage(imageData._1, imageData._2.x, imageData._2.y,
</span>36 <span style=''></span><span style='background: #F0ADAD'>                imageData._3,
</span>37 <span style=''></span><span style='background: #F0ADAD'>                imageData._4, this)
</span>38 <span style=''></span><span style='background: #F0ADAD'>            )</span><span style=''>
</span>39 <span style=''>
</span>40 <span style=''>        </span><span style='background: #F0ADAD'>CollisionableVisualizer.printElements(game.world.collisionables.toSet) foreach { i =&gt;
</span>41 <span style=''></span><span style='background: #F0ADAD'>            g2d.translate(i.position.x, i.position.y)
</span>42 <span style=''></span><span style='background: #F0ADAD'>            g2d.rotate(i.angle.radiant - Angle.Degree(90).radiant)
</span>43 <span style=''></span><span style='background: #F0ADAD'>
</span>44 <span style=''></span><span style='background: #F0ADAD'>            graphics.drawImage(i.image, 0 - (i.baseWidth / 2), 0 - (i.baseHeight / 2), i.baseWidth, i.baseHeight, null)
</span>45 <span style=''></span><span style='background: #F0ADAD'>
</span>46 <span style=''></span><span style='background: #F0ADAD'>            g2d.rotate(-1 * (i.angle.radiant - Angle.Degree(90).radiant))
</span>47 <span style=''></span><span style='background: #F0ADAD'>            g2d.translate(-i.position.x, -i.position.y)
</span>48 <span style=''></span><span style='background: #F0ADAD'>        }</span><span style=''>
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          1669
        </td>
        <td>
          703
          -
          709
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          JPanel
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1670
        </td>
        <td>
          715
          -
          742
        </td>
        <td>
          Apply
        </td>
        <td>
          setSize
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.setSize(width, height)
        </td>
      </tr><tr>
        <td>
          25
        </td>
        <td>
          1671
        </td>
        <td>
          781
          -
          811
        </td>
        <td>
          Apply
        </td>
        <td>
          getProperty
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;)
        </td>
      </tr><tr>
        <td>
          25
        </td>
        <td>
          1673
        </td>
        <td>
          781
          -
          849
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;).toString + &quot;\\src\\main\\resources\\&quot;
        </td>
      </tr><tr>
        <td>
          25
        </td>
        <td>
          1672
        </td>
        <td>
          781
          -
          820
        </td>
        <td>
          Apply
        </td>
        <td>
          toString
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;).toString
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          1706
        </td>
        <td>
          856
          -
          883
        </td>
        <td>
          DefDef
        </td>
        <td>
          paintComponent
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def paintComponent
        </td>
      </tr><tr>
        <td>
          28
        </td>
        <td>
          1674
        </td>
        <td>
          920
          -
          950
        </td>
        <td>
          Apply
        </td>
        <td>
          paintComponent
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          super.paintComponent(graphics)
        </td>
      </tr><tr>
        <td>
          30
        </td>
        <td>
          1675
        </td>
        <td>
          1023
          -
          1062
        </td>
        <td>
          Apply
        </td>
        <td>
          clearRect
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.clearRect(0, 0, width, height)
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          1677
        </td>
        <td>
          1071
          -
          1129
        </td>
        <td>
          Apply
        </td>
        <td>
          drawString
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.drawString(&quot;SCORE: &quot; + game.player.score, 10, 10)
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          1676
        </td>
        <td>
          1091
          -
          1120
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;SCORE: &quot; + game.player.score
        </td>
      </tr><tr>
        <td>
          32
        </td>
        <td>
          1680
        </td>
        <td>
          1138
          -
          1217
        </td>
        <td>
          Apply
        </td>
        <td>
          drawString
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.drawString(&quot;TIME: &quot; + game.player.timer.time.roundTwoDecimals, 10, 20)
        </td>
      </tr><tr>
        <td>
          32
        </td>
        <td>
          1679
        </td>
        <td>
          1158
          -
          1208
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;TIME: &quot; + game.player.timer.time.roundTwoDecimals
        </td>
      </tr><tr>
        <td>
          32
        </td>
        <td>
          1678
        </td>
        <td>
          1169
          -
          1208
        </td>
        <td>
          Apply
        </td>
        <td>
          roundTwoDecimals
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          game.player.timer.time.roundTwoDecimals
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          1689
        </td>
        <td>
          1226
          -
          1442
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Visualizer.printGround(game.world.ground).map(
            imageData =&gt; graphics.drawImage(imageData._1, imageData._2.x, imageData._2.y,
                imageData._3,
                imageData._4, this)
            )
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          1681
        </td>
        <td>
          1226
          -
          1267
        </td>
        <td>
          Apply
        </td>
        <td>
          printGround
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Visualizer.printGround(game.world.ground)
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          1683
        </td>
        <td>
          1331
          -
          1345
        </td>
        <td>
          Select
        </td>
        <td>
          x
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2.x
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          1686
        </td>
        <td>
          1347
          -
          1361
        </td>
        <td>
          Select
        </td>
        <td>
          y
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2.y
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          1688
        </td>
        <td>
          1298
          -
          1428
        </td>
        <td>
          Apply
        </td>
        <td>
          drawImage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.drawImage(imageData._1, imageData._2.x, imageData._2.y,
                imageData._3,
                imageData._4, this)
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          1682
        </td>
        <td>
          1331
          -
          1343
        </td>
        <td>
          Select
        </td>
        <td>
          _2
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          1685
        </td>
        <td>
          1347
          -
          1359
        </td>
        <td>
          Select
        </td>
        <td>
          _2
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          1684
        </td>
        <td>
          1331
          -
          1345
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2.x
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          1687
        </td>
        <td>
          1347
          -
          1361
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2.y
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          1691
        </td>
        <td>
          1452
          -
          1522
        </td>
        <td>
          Apply
        </td>
        <td>
          printElements
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          CollisionableVisualizer.printElements(game.world.collisionables.toSet)
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          1705
        </td>
        <td>
          1452
          -
          1920
        </td>
        <td>
          Apply
        </td>
        <td>
          foreach
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          CollisionableVisualizer.printElements(game.world.collisionables.toSet) foreach { i =&gt;
            g2d.translate(i.position.x, i.position.y)
            g2d.rotate(i.angle.radiant - Angle.Degree(90).radiant)

            graphics.drawImage(i.image, 0 - (i.baseWidth / 2), 0 - (i.baseHeight / 2), i.baseWidth, i.baseHeight, null)

            g2d.rotate(-1 * (i.angle.radiant - Angle.Degree(90).radiant))
            g2d.translate(-i.position.x, -i.position.y)
        }
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          1690
        </td>
        <td>
          1490
          -
          1521
        </td>
        <td>
          Select
        </td>
        <td>
          toSet
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          game.world.collisionables.toSet
        </td>
      </tr><tr>
        <td>
          40
        </td>
        <td>
          1692
        </td>
        <td>
          1564
          -
          1576
        </td>
        <td>
          Select
        </td>
        <td>
          x
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          i.position.x
        </td>
      </tr><tr>
        <td>
          40
        </td>
        <td>
          1694
        </td>
        <td>
          1550
          -
          1591
        </td>
        <td>
          Apply
        </td>
        <td>
          translate
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.translate(i.position.x, i.position.y)
        </td>
      </tr><tr>
        <td>
          40
        </td>
        <td>
          1693
        </td>
        <td>
          1578
          -
          1590
        </td>
        <td>
          Select
        </td>
        <td>
          y
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          i.position.y
        </td>
      </tr><tr>
        <td>
          41
        </td>
        <td>
          1695
        </td>
        <td>
          1615
          -
          1630
        </td>
        <td>
          Select
        </td>
        <td>
          radiant
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          i.angle.radiant
        </td>
      </tr><tr>
        <td>
          41
        </td>
        <td>
          1697
        </td>
        <td>
          1604
          -
          1658
        </td>
        <td>
          Apply
        </td>
        <td>
          rotate
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.rotate(i.angle.radiant - Angle.Degree(90).radiant)
        </td>
      </tr><tr>
        <td>
          41
        </td>
        <td>
          1696
        </td>
        <td>
          1633
          -
          1657
        </td>
        <td>
          Select
        </td>
        <td>
          radiant
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Angle.Degree(90).radiant
        </td>
      </tr><tr>
        <td>
          43
        </td>
        <td>
          1698
        </td>
        <td>
          1672
          -
          1779
        </td>
        <td>
          Apply
        </td>
        <td>
          drawImage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.drawImage(i.image, 0 - (i.baseWidth / 2), 0 - (i.baseHeight / 2), i.baseWidth, i.baseHeight, null)
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          1701
        </td>
        <td>
          1793
          -
          1854
        </td>
        <td>
          Apply
        </td>
        <td>
          rotate
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.rotate(-1 * (i.angle.radiant - Angle.Degree(90).radiant))
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          1700
        </td>
        <td>
          1828
          -
          1852
        </td>
        <td>
          Select
        </td>
        <td>
          radiant
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Angle.Degree(90).radiant
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          1699
        </td>
        <td>
          1810
          -
          1825
        </td>
        <td>
          Select
        </td>
        <td>
          radiant
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          i.angle.radiant
        </td>
      </tr><tr>
        <td>
          46
        </td>
        <td>
          1704
        </td>
        <td>
          1867
          -
          1910
        </td>
        <td>
          Apply
        </td>
        <td>
          translate
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.translate(-i.position.x, -i.position.y)
        </td>
      </tr><tr>
        <td>
          46
        </td>
        <td>
          1703
        </td>
        <td>
          1897
          -
          1909
        </td>
        <td>
          Select
        </td>
        <td>
          y
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          i.position.y
        </td>
      </tr><tr>
        <td>
          46
        </td>
        <td>
          1702
        </td>
        <td>
          1882
          -
          1894
        </td>
        <td>
          Select
        </td>
        <td>
          x
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          i.position.x
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>