<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/gui/WorldPane.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view.gui
</span>2 <span style=''>
</span>3 <span style=''>import model.Game
</span>4 <span style=''>import view.{CollisionableVisualizer, Visualizer}
</span>5 <span style=''>
</span>6 <span style=''>import java.awt.event.MouseMotionListener
</span>7 <span style=''>import java.awt.*
</span>8 <span style=''>import java.awt.geom.AffineTransform
</span>9 <span style=''>import java.awt.image.{AffineTransformOp, BufferedImage}
</span>10 <span style=''>import javax.swing.{JButton, JPanel}
</span>11 <span style=''>import model.elements2d.Angle
</span>12 <span style=''>import view.given_Conversion_Double_Int
</span>13 <span style=''>
</span>14 <span style=''>import java.io.File
</span>15 <span style=''>import javax.imageio.ImageIO
</span>16 <span style=''>
</span>17 <span style=''>/**
</span>18 <span style=''> * This class represent the World panel where the entire game is drawn
</span>19 <span style=''> * @param game The game to draw
</span>20 <span style=''> * @param width The width of the panel
</span>21 <span style=''> * @param height The height of the panel
</span>22 <span style=''> */
</span>23 <span style=''>private class WorldPane(val game: Game, width: Int, height: Int) extends </span><span style='background: #F0ADAD'>JPanel</span><span style=''>:
</span>24 <span style=''>    </span><span style='background: #F0ADAD'>this.setSize(width, height)</span><span style=''>
</span>25 <span style=''>    val resourceFolderPath: String = (</span><span style='background: #F0ADAD'>System.getProperty(&quot;user.dir&quot;).toString + &quot;\\src\\main\\resources\\&quot;</span><span style=''>)
</span>26 <span style=''>
</span>27 <span style=''>    </span><span style='background: #F0ADAD'>override def paintComponent</span><span style=''>(graphics: Graphics): Unit =
</span>28 <span style=''>        </span><span style='background: #F0ADAD'>super.paintComponent(graphics)</span><span style=''>
</span>29 <span style=''>        val g2d: Graphics2D = graphics.asInstanceOf[Graphics2D]
</span>30 <span style=''>        </span><span style='background: #F0ADAD'>graphics.clearRect(0, 0, width, height)</span><span style=''>
</span>31 <span style=''>        </span><span style='background: #F0ADAD'>graphics.drawString(&quot;SCORE: &quot; + game.player.score, 10, 10)</span><span style=''>
</span>32 <span style=''>        </span><span style='background: #F0ADAD'>graphics.drawString(&quot;TIME: &quot; + BigDecimal(game.player.timer.time).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble, 10, 20)</span><span style=''>
</span>33 <span style=''>        </span><span style='background: #F0ADAD'>Visualizer.printGround(game.world.ground).map(
</span>34 <span style=''></span><span style='background: #F0ADAD'>            imageData =&gt; graphics.drawImage(imageData._1, imageData._2.x, imageData._2.y,
</span>35 <span style=''></span><span style='background: #F0ADAD'>                imageData._3,
</span>36 <span style=''></span><span style='background: #F0ADAD'>                imageData._4, this)
</span>37 <span style=''></span><span style='background: #F0ADAD'>            )</span><span style=''>
</span>38 <span style=''>
</span>39 <span style=''>        </span><span style='background: #F0ADAD'>CollisionableVisualizer.printElements(game.world.collisionables.toSet) foreach { i =&gt;
</span>40 <span style=''></span><span style='background: #F0ADAD'>            g2d.translate(i.position.x, i.position.y)
</span>41 <span style=''></span><span style='background: #F0ADAD'>            g2d.rotate(i.angle.radiant - Angle.Degree(90).radiant)
</span>42 <span style=''></span><span style='background: #F0ADAD'>
</span>43 <span style=''></span><span style='background: #F0ADAD'>            graphics.drawImage(i.image, 0 - (i.baseWidth / 2), 0 - (i.baseHeight / 2), i.baseWidth, i.baseHeight, null)
</span>44 <span style=''></span><span style='background: #F0ADAD'>
</span>45 <span style=''></span><span style='background: #F0ADAD'>            g2d.rotate(-1 * (i.angle.radiant - Angle.Degree(90).radiant))
</span>46 <span style=''></span><span style='background: #F0ADAD'>            g2d.translate(-i.position.x, -i.position.y)
</span>47 <span style=''></span><span style='background: #F0ADAD'>        }</span><span style=''>
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          1662
        </td>
        <td>
          663
          -
          669
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          JPanel
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          1663
        </td>
        <td>
          675
          -
          702
        </td>
        <td>
          Apply
        </td>
        <td>
          setSize
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.setSize(width, height)
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1665
        </td>
        <td>
          741
          -
          780
        </td>
        <td>
          Apply
        </td>
        <td>
          toString
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;).toString
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1664
        </td>
        <td>
          741
          -
          771
        </td>
        <td>
          Apply
        </td>
        <td>
          getProperty
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;)
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1666
        </td>
        <td>
          741
          -
          809
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;).toString + &quot;\\src\\main\\resources\\&quot;
        </td>
      </tr><tr>
        <td>
          26
        </td>
        <td>
          1704
        </td>
        <td>
          816
          -
          843
        </td>
        <td>
          DefDef
        </td>
        <td>
          paintComponent
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def paintComponent
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          1667
        </td>
        <td>
          880
          -
          910
        </td>
        <td>
          Apply
        </td>
        <td>
          paintComponent
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          super.paintComponent(graphics)
        </td>
      </tr><tr>
        <td>
          29
        </td>
        <td>
          1668
        </td>
        <td>
          983
          -
          1022
        </td>
        <td>
          Apply
        </td>
        <td>
          clearRect
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.clearRect(0, 0, width, height)
        </td>
      </tr><tr>
        <td>
          30
        </td>
        <td>
          1670
        </td>
        <td>
          1031
          -
          1089
        </td>
        <td>
          Apply
        </td>
        <td>
          drawString
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.drawString(&quot;SCORE: &quot; + game.player.score, 10, 10)
        </td>
      </tr><tr>
        <td>
          30
        </td>
        <td>
          1669
        </td>
        <td>
          1051
          -
          1080
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;SCORE: &quot; + game.player.score
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          1674
        </td>
        <td>
          1176
          -
          1207
        </td>
        <td>
          Select
        </td>
        <td>
          HALF_UP
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          BigDecimal.RoundingMode.HALF_UP
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          1677
        </td>
        <td>
          1118
          -
          1217
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;TIME: &quot; + BigDecimal(game.player.timer.time).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          1671
        </td>
        <td>
          1129
          -
          1139
        </td>
        <td>
          Ident
        </td>
        <td>
          BigDecimal
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          BigDecimal
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          1673
        </td>
        <td>
          1176
          -
          1186
        </td>
        <td>
          Ident
        </td>
        <td>
          BigDecimal
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          BigDecimal
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          1676
        </td>
        <td>
          1129
          -
          1217
        </td>
        <td>
          Select
        </td>
        <td>
          toDouble
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          BigDecimal(game.player.timer.time).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          1675
        </td>
        <td>
          1129
          -
          1208
        </td>
        <td>
          Apply
        </td>
        <td>
          setScale
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          BigDecimal(game.player.timer.time).setScale(2, BigDecimal.RoundingMode.HALF_UP)
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          1678
        </td>
        <td>
          1098
          -
          1226
        </td>
        <td>
          Apply
        </td>
        <td>
          drawString
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.drawString(&quot;TIME: &quot; + BigDecimal(game.player.timer.time).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble, 10, 20)
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          1672
        </td>
        <td>
          1129
          -
          1163
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          BigDecimal(game.player.timer.time)
        </td>
      </tr><tr>
        <td>
          32
        </td>
        <td>
          1679
        </td>
        <td>
          1235
          -
          1276
        </td>
        <td>
          Apply
        </td>
        <td>
          printGround
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Visualizer.printGround(game.world.ground)
        </td>
      </tr><tr>
        <td>
          32
        </td>
        <td>
          1687
        </td>
        <td>
          1235
          -
          1451
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Visualizer.printGround(game.world.ground).map(
            imageData =&gt; graphics.drawImage(imageData._1, imageData._2.x, imageData._2.y,
                imageData._3,
                imageData._4, this)
            )
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          1680
        </td>
        <td>
          1340
          -
          1352
        </td>
        <td>
          Select
        </td>
        <td>
          _2
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          1683
        </td>
        <td>
          1356
          -
          1368
        </td>
        <td>
          Select
        </td>
        <td>
          _2
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          1686
        </td>
        <td>
          1307
          -
          1437
        </td>
        <td>
          Apply
        </td>
        <td>
          drawImage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.drawImage(imageData._1, imageData._2.x, imageData._2.y,
                imageData._3,
                imageData._4, this)
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          1682
        </td>
        <td>
          1340
          -
          1354
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2.x
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          1685
        </td>
        <td>
          1356
          -
          1370
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2.y
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          1684
        </td>
        <td>
          1356
          -
          1370
        </td>
        <td>
          Select
        </td>
        <td>
          y
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2.y
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          1681
        </td>
        <td>
          1340
          -
          1354
        </td>
        <td>
          Select
        </td>
        <td>
          x
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2.x
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          1689
        </td>
        <td>
          1461
          -
          1531
        </td>
        <td>
          Apply
        </td>
        <td>
          printElements
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          CollisionableVisualizer.printElements(game.world.collisionables.toSet)
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          1703
        </td>
        <td>
          1461
          -
          1929
        </td>
        <td>
          Apply
        </td>
        <td>
          foreach
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          CollisionableVisualizer.printElements(game.world.collisionables.toSet) foreach { i =&gt;
            g2d.translate(i.position.x, i.position.y)
            g2d.rotate(i.angle.radiant - Angle.Degree(90).radiant)

            graphics.drawImage(i.image, 0 - (i.baseWidth / 2), 0 - (i.baseHeight / 2), i.baseWidth, i.baseHeight, null)

            g2d.rotate(-1 * (i.angle.radiant - Angle.Degree(90).radiant))
            g2d.translate(-i.position.x, -i.position.y)
        }
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          1688
        </td>
        <td>
          1499
          -
          1530
        </td>
        <td>
          Select
        </td>
        <td>
          toSet
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          game.world.collisionables.toSet
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          1692
        </td>
        <td>
          1559
          -
          1600
        </td>
        <td>
          Apply
        </td>
        <td>
          translate
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.translate(i.position.x, i.position.y)
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          1691
        </td>
        <td>
          1587
          -
          1599
        </td>
        <td>
          Select
        </td>
        <td>
          y
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          i.position.y
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          1690
        </td>
        <td>
          1573
          -
          1585
        </td>
        <td>
          Select
        </td>
        <td>
          x
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          i.position.x
        </td>
      </tr><tr>
        <td>
          40
        </td>
        <td>
          1695
        </td>
        <td>
          1613
          -
          1667
        </td>
        <td>
          Apply
        </td>
        <td>
          rotate
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.rotate(i.angle.radiant - Angle.Degree(90).radiant)
        </td>
      </tr><tr>
        <td>
          40
        </td>
        <td>
          1694
        </td>
        <td>
          1642
          -
          1666
        </td>
        <td>
          Select
        </td>
        <td>
          radiant
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Angle.Degree(90).radiant
        </td>
      </tr><tr>
        <td>
          40
        </td>
        <td>
          1693
        </td>
        <td>
          1624
          -
          1639
        </td>
        <td>
          Select
        </td>
        <td>
          radiant
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          i.angle.radiant
        </td>
      </tr><tr>
        <td>
          42
        </td>
        <td>
          1696
        </td>
        <td>
          1681
          -
          1788
        </td>
        <td>
          Apply
        </td>
        <td>
          drawImage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.drawImage(i.image, 0 - (i.baseWidth / 2), 0 - (i.baseHeight / 2), i.baseWidth, i.baseHeight, null)
        </td>
      </tr><tr>
        <td>
          44
        </td>
        <td>
          1698
        </td>
        <td>
          1837
          -
          1861
        </td>
        <td>
          Select
        </td>
        <td>
          radiant
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Angle.Degree(90).radiant
        </td>
      </tr><tr>
        <td>
          44
        </td>
        <td>
          1697
        </td>
        <td>
          1819
          -
          1834
        </td>
        <td>
          Select
        </td>
        <td>
          radiant
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          i.angle.radiant
        </td>
      </tr><tr>
        <td>
          44
        </td>
        <td>
          1699
        </td>
        <td>
          1802
          -
          1863
        </td>
        <td>
          Apply
        </td>
        <td>
          rotate
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.rotate(-1 * (i.angle.radiant - Angle.Degree(90).radiant))
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          1701
        </td>
        <td>
          1906
          -
          1918
        </td>
        <td>
          Select
        </td>
        <td>
          y
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          i.position.y
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          1700
        </td>
        <td>
          1891
          -
          1903
        </td>
        <td>
          Select
        </td>
        <td>
          x
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          i.position.x
        </td>
      </tr><tr>
        <td>
          45
        </td>
        <td>
          1702
        </td>
        <td>
          1876
          -
          1919
        </td>
        <td>
          Apply
        </td>
        <td>
          translate
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.translate(-i.position.x, -i.position.y)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>