<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/gui/WorldPane.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view.gui
</span>2 <span style=''>
</span>3 <span style=''>import model.World
</span>4 <span style=''>import utilities.Constants
</span>5 <span style=''>import view.Visualizer
</span>6 <span style=''>
</span>7 <span style=''>import java.awt.event.MouseMotionListener
</span>8 <span style=''>import java.awt.*
</span>9 <span style=''>import javax.swing.JPanel
</span>10 <span style=''>
</span>11 <span style=''>
</span>12 <span style=''>private class WorldPane(val world: World, width: Int, height: Int) extends </span><span style='background: #F0ADAD'>JPanel</span><span style=''>:
</span>13 <span style=''>    </span><span style='background: #F0ADAD'>this.setSize(width, height)</span><span style=''>
</span>14 <span style=''>    val resourceFolderPath: String = (</span><span style='background: #F0ADAD'>System.getProperty(&quot;user.dir&quot;).toString + &quot;\\src\\main\\resources\\&quot;</span><span style=''>)
</span>15 <span style=''>
</span>16 <span style=''>    </span><span style='background: #F0ADAD'>override def paintComponent</span><span style=''>(graphics: Graphics): Unit =
</span>17 <span style=''>        </span><span style='background: #F0ADAD'>super.paintComponent(graphics)</span><span style=''>
</span>18 <span style=''>        </span><span style='background: #F0ADAD'>graphics.clearRect(0, 0, width, height)</span><span style=''>
</span>19 <span style=''>        </span><span style='background: #F0ADAD'>Visualizer.printGround(world.ground).map(
</span>20 <span style=''></span><span style='background: #F0ADAD'>            imageData =&gt; graphics.drawImage(imageData._1, imageData._2.x.toInt, imageData._2.y.toInt,
</span>21 <span style=''></span><span style='background: #F0ADAD'>                imageData._3,
</span>22 <span style=''></span><span style='background: #F0ADAD'>                imageData._4, this)
</span>23 <span style=''></span><span style='background: #F0ADAD'>            )</span><span style=''>
</span>24 <span style=''>//        world.all.foreach { entity =&gt;
</span>25 <span style=''>//            val (x, y) = ((entity.position.x * width).toInt, (entity.position.y * height).toInt)
</span>26 <span style=''>//            val (widthCircle, heightCircle) = ((entity.diameter * width).toInt, (entity.diameter * height).toInt)
</span>27 <span style=''>//            graphics.setColor(Color.getHSBColor(entity.size.toFloat, 1, 0.5))
</span>28 <span style=''>//            graphics.fillOval(x - widthCircle / 2, y - heightCircle / 2, widthCircle, heightCircle)
</span>29 <span style=''>//            graphics.setColor(Color.BLACK)
</span>30 <span style=''>//            graphics.drawOval(x - widthCircle / 2, y - heightCircle / 2, widthCircle, heightCircle)
</span>31 <span style=''>//        }
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          11
        </td>
        <td>
          983
        </td>
        <td>
          251
          -
          257
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          JPanel
        </td>
      </tr><tr>
        <td>
          12
        </td>
        <td>
          984
        </td>
        <td>
          263
          -
          290
        </td>
        <td>
          Apply
        </td>
        <td>
          setSize
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          this.setSize(width, height)
        </td>
      </tr><tr>
        <td>
          13
        </td>
        <td>
          986
        </td>
        <td>
          329
          -
          368
        </td>
        <td>
          Apply
        </td>
        <td>
          toString
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;).toString
        </td>
      </tr><tr>
        <td>
          13
        </td>
        <td>
          985
        </td>
        <td>
          329
          -
          359
        </td>
        <td>
          Apply
        </td>
        <td>
          getProperty
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;)
        </td>
      </tr><tr>
        <td>
          13
        </td>
        <td>
          987
        </td>
        <td>
          329
          -
          397
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;).toString + &quot;\\src\\main\\resources\\&quot;
        </td>
      </tr><tr>
        <td>
          15
        </td>
        <td>
          997
        </td>
        <td>
          404
          -
          431
        </td>
        <td>
          DefDef
        </td>
        <td>
          paintComponent
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def paintComponent
        </td>
      </tr><tr>
        <td>
          16
        </td>
        <td>
          988
        </td>
        <td>
          468
          -
          498
        </td>
        <td>
          Apply
        </td>
        <td>
          paintComponent
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          super.paintComponent(graphics)
        </td>
      </tr><tr>
        <td>
          17
        </td>
        <td>
          989
        </td>
        <td>
          507
          -
          546
        </td>
        <td>
          Apply
        </td>
        <td>
          clearRect
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.clearRect(0, 0, width, height)
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          996
        </td>
        <td>
          555
          -
          778
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Visualizer.printGround(world.ground).map(
            imageData =&gt; graphics.drawImage(imageData._1, imageData._2.x.toInt, imageData._2.y.toInt,
                imageData._3,
                imageData._4, this)
            )
        </td>
      </tr><tr>
        <td>
          18
        </td>
        <td>
          990
        </td>
        <td>
          555
          -
          591
        </td>
        <td>
          Apply
        </td>
        <td>
          printGround
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Visualizer.printGround(world.ground)
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          992
        </td>
        <td>
          655
          -
          669
        </td>
        <td>
          Select
        </td>
        <td>
          x
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2.x
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          995
        </td>
        <td>
          622
          -
          764
        </td>
        <td>
          Apply
        </td>
        <td>
          drawImage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          graphics.drawImage(imageData._1, imageData._2.x.toInt, imageData._2.y.toInt,
                imageData._3,
                imageData._4, this)
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          991
        </td>
        <td>
          655
          -
          667
        </td>
        <td>
          Select
        </td>
        <td>
          _2
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          994
        </td>
        <td>
          677
          -
          691
        </td>
        <td>
          Select
        </td>
        <td>
          y
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2.y
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          993
        </td>
        <td>
          677
          -
          689
        </td>
        <td>
          Select
        </td>
        <td>
          _2
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          imageData._2
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>