<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/CollisionableVisualizer.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view
</span>2 <span style=''>
</span>3 <span style=''>import model.World
</span>4 <span style=''>
</span>5 <span style=''>import java.awt.{Color, Image, Toolkit}
</span>6 <span style=''>import model.collisions.{Affiliation, Collisionable}
</span>7 <span style=''>import model.elements2d.{Angle, Point2D}
</span>8 <span style=''>import model.explosion.Explosion
</span>9 <span style=''>import model.missile.{Missile, MissileDamageable, MissileImpl, hitboxBase, hitboxHeight}
</span>10 <span style=''>import model.vehicle.{Plane, Satellite, vehicleTypes}
</span>11 <span style=''>
</span>12 <span style=''>import java.awt.image.BufferedImage
</span>13 <span style=''>import javax.imageio.ImageIO
</span>14 <span style=''>import java.io.{File, FileNotFoundException}
</span>15 <span style=''>
</span>16 <span style=''>extension(p: Point2D)
</span>17 <span style=''>  /**
</span>18 <span style=''>   * Extension method for a Point2D, that perform a mapping returning a new Point2D based
</span>19 <span style=''>   * on the function taken by input
</span>20 <span style=''>   * @param f The function that maps a [[Point2D]] into another [[Point2D]]
</span>21 <span style=''>   * @return the new mapped [[Point2D]]
</span>22 <span style=''>   */
</span>23 <span style=''>  </span><span style='background: #AEF1AE'>def map</span><span style=''>(f: (Point2D) =&gt; Point2D) = </span><span style='background: #AEF1AE'>f(p)</span><span style=''>
</span>24 <span style=''>
</span>25 <span style=''>/**
</span>26 <span style=''> * Case class that represent a graphic collisionable element
</span>27 <span style=''> * @param image The image for the given collisionable
</span>28 <span style=''> * @param baseWidth The width of the image
</span>29 <span style=''> * @param baseHeight The height of the image
</span>30 <span style=''> * @param position The position of the image mapped into the GUI space
</span>31 <span style=''> * @param angle The angle of the image
</span>32 <span style=''> */
</span>33 <span style=''>case class CollisionableElement(image: BufferedImage, baseWidth: Int, baseHeight: Int,
</span>34 <span style=''>                                position: Point2D, angle: Angle = Angle.Degree(0))
</span>35 <span style=''>
</span>36 <span style=''>object CollisionableVisualizer:
</span>37 <span style=''>
</span>38 <span style=''>  /**
</span>39 <span style=''>   * Method that creates a graphic set of [[CollisionableElement]] from a set of [[Collisionable]]
</span>40 <span style=''>   * @param collisionables The set of [[Collisionable]] to convert
</span>41 <span style=''>   * @param conversion The conversion method to convert double values into integers
</span>42 <span style=''>   * @return the set of CollisionableElements created
</span>43 <span style=''>   */
</span>44 <span style=''>  </span><span style='background: #AEF1AE'>def printElements</span><span style=''>(collisionables: Set[Collisionable])(using conversion: Conversion[Double, Int]): Set[CollisionableElement] =
</span>45 <span style=''>
</span>46 <span style=''>    val conversion: Collisionable =&gt; CollisionableElement = (c: Collisionable) =&gt; c match
</span>47 <span style=''>      </span><span style='background: #AEF1AE'>case m: Missile with MissileDamageable</span><span style=''> =&gt;
</span>48 <span style=''>        var optImage:  Option[BufferedImage] = </span><span style='background: #AEF1AE'>Option.empty</span><span style=''>
</span>49 <span style=''>        try </span><span style='background: #AEF1AE'>{
</span>50 <span style=''></span><span style='background: #AEF1AE'>          m.affiliation match
</span>51 <span style=''></span><span style='background: #AEF1AE'>            case Affiliation.Enemy =&gt; optImage = Option(ImageIO.read(getClass.getResource(&quot;/enemy_missile.png&quot;)))
</span>52 <span style=''></span><span style='background: #AEF1AE'>            </span><span style='background: #F0ADAD'>case _</span><span style='background: #AEF1AE'> =&gt; optImage = </span><span style='background: #F0ADAD'>Option(ImageIO.read(getClass.getResource(&quot;/friendly_missile.png&quot;)))</span><span style='background: #AEF1AE'>
</span>53 <span style=''></span><span style='background: #AEF1AE'>        }</span><span style=''> catch {
</span>54 <span style=''>          </span><span style='background: #F0ADAD'>case e: Exception</span><span style=''> =&gt; </span><span style='background: #F0ADAD'>throw new FileNotFoundException()</span><span style=''>
</span>55 <span style=''>        }
</span>56 <span style=''>        CollisionableElement(</span><span style='background: #AEF1AE'>optImage.get</span><span style=''>, </span><span style='background: #AEF1AE'>hitboxBase use convertWidth</span><span style=''>, </span><span style='background: #AEF1AE'>hitboxHeight use convertHeight</span><span style=''>, </span><span style='background: #AEF1AE'>m.position map convertPosition</span><span style=''>, </span><span style='background: #AEF1AE'>m.angle.getOrElse(Angle.Degree(0))</span><span style=''>)
</span>57 <span style=''>      </span><span style='background: #F0ADAD'>case e: Explosion</span><span style=''> =&gt;
</span>58 <span style=''>        val diameter = </span><span style='background: #F0ADAD'>e.radius * 2 use convertWidth</span><span style=''>
</span>59 <span style=''>        val bi = </span><span style='background: #F0ADAD'>new BufferedImage(diameter,diameter, BufferedImage.TYPE_INT_ARGB)</span><span style=''>
</span>60 <span style=''>        val g2d = </span><span style='background: #F0ADAD'>bi.createGraphics()</span><span style=''>
</span>61 <span style=''>        </span><span style='background: #F0ADAD'>e.affiliation</span><span style=''> match
</span>62 <span style=''>          </span><span style='background: #F0ADAD'>case Affiliation.Enemy</span><span style=''> =&gt; </span><span style='background: #F0ADAD'>g2d.setColor(Color.RED)</span><span style=''>
</span>63 <span style=''>          </span><span style='background: #F0ADAD'>case _</span><span style=''> =&gt; </span><span style='background: #F0ADAD'>g2d.setColor(Color.BLUE)</span><span style=''>
</span>64 <span style=''>        </span><span style='background: #F0ADAD'>g2d.drawOval(0, 0, diameter, diameter)</span><span style=''>
</span>65 <span style=''>        </span><span style='background: #F0ADAD'>g2d.dispose()</span><span style=''>
</span>66 <span style=''>        </span><span style='background: #F0ADAD'>CollisionableElement</span><span style=''>(bi, diameter, diameter, </span><span style='background: #F0ADAD'>e.position map convertPosition</span><span style=''>)
</span>67 <span style=''>      </span><span style='background: #F0ADAD'>case p: Plane</span><span style=''> =&gt; CollisionableElement(
</span>68 <span style=''>        </span><span style='background: #F0ADAD'>ImageIO.read(getClass.getResource(&quot;/Plane_&quot; + p.planeDirection.toString + &quot;.png&quot;))</span><span style=''>,
</span>69 <span style=''>        </span><span style='background: #F0ADAD'>model.vehicle.planeBaseSize use convertWidth</span><span style=''>,
</span>70 <span style=''>        </span><span style='background: #F0ADAD'>model.vehicle.planeHeightSize use convertHeight</span><span style=''>,
</span>71 <span style=''>        </span><span style='background: #F0ADAD'>p.position map convertPosition</span><span style=''>,
</span>72 <span style=''>        Angle.Degree(90)
</span>73 <span style=''>      )
</span>74 <span style=''>      </span><span style='background: #F0ADAD'>case s: Satellite</span><span style=''> =&gt; CollisionableElement(
</span>75 <span style=''>        </span><span style='background: #F0ADAD'>ImageIO.read(getClass.getResource(&quot;/Satellite.png&quot;))</span><span style=''>,
</span>76 <span style=''>        </span><span style='background: #F0ADAD'>model.vehicle.satelliteBaseSize use convertWidth</span><span style=''>,
</span>77 <span style=''>        </span><span style='background: #F0ADAD'>model.vehicle.satelliteHeightSize use convertHeight</span><span style=''>,
</span>78 <span style=''>        </span><span style='background: #F0ADAD'>s.position map convertPosition</span><span style=''>,
</span>79 <span style=''>        Angle.Degree(90)
</span>80 <span style=''>      )
</span>81 <span style=''>
</span>82 <span style=''>    </span><span style='background: #AEF1AE'>collisionables.map(conversion)</span><span style=''>
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          1572
        </td>
        <td>
          734
          -
          741
        </td>
        <td>
          DefDef
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          def map
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          1571
        </td>
        <td>
          769
          -
          773
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          f(p)
        </td>
      </tr><tr>
        <td>
          33
        </td>
        <td>
          1511
        </td>
        <td>
          1249
          -
          1249
        </td>
        <td>
          DefDef
        </td>
        <td>
          $lessinit$greater$default$5
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          
        </td>
      </tr><tr>
        <td>
          43
        </td>
        <td>
          1570
        </td>
        <td>
          1618
          -
          1635
        </td>
        <td>
          DefDef
        </td>
        <td>
          printElements
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          def printElements
        </td>
      </tr><tr>
        <td>
          46
        </td>
        <td>
          1535
        </td>
        <td>
          1841
          -
          1879
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          case m: Missile with MissileDamageable
        </td>
      </tr><tr>
        <td>
          47
        </td>
        <td>
          1512
        </td>
        <td>
          1930
          -
          1942
        </td>
        <td>
          Select
        </td>
        <td>
          empty
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          Option.empty
        </td>
      </tr><tr>
        <td>
          48
        </td>
        <td>
          1522
        </td>
        <td>
          1955
          -
          2211
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          {
          m.affiliation match
            case Affiliation.Enemy =&gt; optImage = Option(ImageIO.read(getClass.getResource(&quot;/enemy_missile.png&quot;)))
            case _ =&gt; optImage = Option(ImageIO.read(getClass.getResource(&quot;/friendly_missile.png&quot;)))
        }
        </td>
      </tr><tr>
        <td>
          49
        </td>
        <td>
          1513
        </td>
        <td>
          1967
          -
          1980
        </td>
        <td>
          Select
        </td>
        <td>
          affiliation
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          m.affiliation
        </td>
      </tr><tr>
        <td>
          50
        </td>
        <td>
          1515
        </td>
        <td>
          2043
          -
          2099
        </td>
        <td>
          Apply
        </td>
        <td>
          read
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          ImageIO.read(getClass.getResource(&quot;/enemy_missile.png&quot;))
        </td>
      </tr><tr>
        <td>
          50
        </td>
        <td>
          1514
        </td>
        <td>
          2056
          -
          2098
        </td>
        <td>
          Apply
        </td>
        <td>
          getResource
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          getClass.getResource(&quot;/enemy_missile.png&quot;)
        </td>
      </tr><tr>
        <td>
          50
        </td>
        <td>
          1517
        </td>
        <td>
          1999
          -
          2021
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          case Affiliation.Enemy
        </td>
      </tr><tr>
        <td>
          50
        </td>
        <td>
          1516
        </td>
        <td>
          2036
          -
          2100
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          Option(ImageIO.read(getClass.getResource(&quot;/enemy_missile.png&quot;)))
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          1519
        </td>
        <td>
          2141
          -
          2200
        </td>
        <td>
          Apply
        </td>
        <td>
          read
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          ImageIO.read(getClass.getResource(&quot;/friendly_missile.png&quot;))
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          1518
        </td>
        <td>
          2154
          -
          2199
        </td>
        <td>
          Apply
        </td>
        <td>
          getResource
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          getClass.getResource(&quot;/friendly_missile.png&quot;)
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          1521
        </td>
        <td>
          2113
          -
          2119
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          case _
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          1520
        </td>
        <td>
          2134
          -
          2201
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Option(ImageIO.read(getClass.getResource(&quot;/friendly_missile.png&quot;)))
        </td>
      </tr><tr>
        <td>
          53
        </td>
        <td>
          1524
        </td>
        <td>
          2251
          -
          2284
        </td>
        <td>
          Apply
        </td>
        <td>
          throw
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          throw new FileNotFoundException()
        </td>
      </tr><tr>
        <td>
          53
        </td>
        <td>
          1523
        </td>
        <td>
          2257
          -
          2284
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          new FileNotFoundException()
        </td>
      </tr><tr>
        <td>
          53
        </td>
        <td>
          1525
        </td>
        <td>
          2230
          -
          2247
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          case e: Exception
        </td>
      </tr><tr>
        <td>
          55
        </td>
        <td>
          1528
        </td>
        <td>
          2338
          -
          2365
        </td>
        <td>
          Apply
        </td>
        <td>
          use
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          hitboxBase use convertWidth
        </td>
      </tr><tr>
        <td>
          55
        </td>
        <td>
          1527
        </td>
        <td>
          2338
          -
          2348
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          hitboxBase
        </td>
      </tr><tr>
        <td>
          55
        </td>
        <td>
          1530
        </td>
        <td>
          2367
          -
          2397
        </td>
        <td>
          Apply
        </td>
        <td>
          use
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          hitboxHeight use convertHeight
        </td>
      </tr><tr>
        <td>
          55
        </td>
        <td>
          1533
        </td>
        <td>
          2431
          -
          2438
        </td>
        <td>
          Select
        </td>
        <td>
          angle
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          m.angle
        </td>
      </tr><tr>
        <td>
          55
        </td>
        <td>
          1532
        </td>
        <td>
          2399
          -
          2429
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          m.position map convertPosition
        </td>
      </tr><tr>
        <td>
          55
        </td>
        <td>
          1526
        </td>
        <td>
          2324
          -
          2336
        </td>
        <td>
          Select
        </td>
        <td>
          get
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          optImage.get
        </td>
      </tr><tr>
        <td>
          55
        </td>
        <td>
          1529
        </td>
        <td>
          2367
          -
          2379
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          hitboxHeight
        </td>
      </tr><tr>
        <td>
          55
        </td>
        <td>
          1531
        </td>
        <td>
          2399
          -
          2409
        </td>
        <td>
          Select
        </td>
        <td>
          position
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          m.position
        </td>
      </tr><tr>
        <td>
          55
        </td>
        <td>
          1534
        </td>
        <td>
          2431
          -
          2465
        </td>
        <td>
          Apply
        </td>
        <td>
          getOrElse
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          m.angle.getOrElse(Angle.Degree(0))
        </td>
      </tr><tr>
        <td>
          56
        </td>
        <td>
          1551
        </td>
        <td>
          2473
          -
          2490
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          case e: Explosion
        </td>
      </tr><tr>
        <td>
          57
        </td>
        <td>
          1536
        </td>
        <td>
          2517
          -
          2525
        </td>
        <td>
          Select
        </td>
        <td>
          radius
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.radius
        </td>
      </tr><tr>
        <td>
          57
        </td>
        <td>
          1538
        </td>
        <td>
          2517
          -
          2546
        </td>
        <td>
          Apply
        </td>
        <td>
          use
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.radius * 2 use convertWidth
        </td>
      </tr><tr>
        <td>
          57
        </td>
        <td>
          1537
        </td>
        <td>
          2517
          -
          2529
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.radius * 2
        </td>
      </tr><tr>
        <td>
          58
        </td>
        <td>
          1539
        </td>
        <td>
          2564
          -
          2629
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          new BufferedImage(diameter,diameter, BufferedImage.TYPE_INT_ARGB)
        </td>
      </tr><tr>
        <td>
          59
        </td>
        <td>
          1540
        </td>
        <td>
          2648
          -
          2667
        </td>
        <td>
          Apply
        </td>
        <td>
          createGraphics
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          bi.createGraphics()
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          1541
        </td>
        <td>
          2676
          -
          2689
        </td>
        <td>
          Select
        </td>
        <td>
          affiliation
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.affiliation
        </td>
      </tr><tr>
        <td>
          61
        </td>
        <td>
          1542
        </td>
        <td>
          2732
          -
          2755
        </td>
        <td>
          Apply
        </td>
        <td>
          setColor
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.setColor(Color.RED)
        </td>
      </tr><tr>
        <td>
          61
        </td>
        <td>
          1543
        </td>
        <td>
          2706
          -
          2728
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          case Affiliation.Enemy
        </td>
      </tr><tr>
        <td>
          62
        </td>
        <td>
          1545
        </td>
        <td>
          2766
          -
          2772
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          case _
        </td>
      </tr><tr>
        <td>
          62
        </td>
        <td>
          1544
        </td>
        <td>
          2776
          -
          2800
        </td>
        <td>
          Apply
        </td>
        <td>
          setColor
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.setColor(Color.BLUE)
        </td>
      </tr><tr>
        <td>
          63
        </td>
        <td>
          1546
        </td>
        <td>
          2809
          -
          2847
        </td>
        <td>
          Apply
        </td>
        <td>
          drawOval
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.drawOval(0, 0, diameter, diameter)
        </td>
      </tr><tr>
        <td>
          64
        </td>
        <td>
          1547
        </td>
        <td>
          2856
          -
          2869
        </td>
        <td>
          Apply
        </td>
        <td>
          dispose
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.dispose()
        </td>
      </tr><tr>
        <td>
          65
        </td>
        <td>
          1548
        </td>
        <td>
          2923
          -
          2933
        </td>
        <td>
          Select
        </td>
        <td>
          position
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.position
        </td>
      </tr><tr>
        <td>
          65
        </td>
        <td>
          1550
        </td>
        <td>
          2878
          -
          2898
        </td>
        <td>
          Select
        </td>
        <td>
          $lessinit$greater$default$5
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          CollisionableElement
        </td>
      </tr><tr>
        <td>
          65
        </td>
        <td>
          1549
        </td>
        <td>
          2923
          -
          2953
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.position map convertPosition
        </td>
      </tr><tr>
        <td>
          66
        </td>
        <td>
          1561
        </td>
        <td>
          2961
          -
          2974
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          case p: Plane
        </td>
      </tr><tr>
        <td>
          67
        </td>
        <td>
          1554
        </td>
        <td>
          3042
          -
          3088
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/Plane_&quot; + p.planeDirection.toString + &quot;.png&quot;
        </td>
      </tr><tr>
        <td>
          67
        </td>
        <td>
          1553
        </td>
        <td>
          3042
          -
          3079
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/Plane_&quot; + p.planeDirection.toString
        </td>
      </tr><tr>
        <td>
          67
        </td>
        <td>
          1556
        </td>
        <td>
          3008
          -
          3090
        </td>
        <td>
          Apply
        </td>
        <td>
          read
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          ImageIO.read(getClass.getResource(&quot;/Plane_&quot; + p.planeDirection.toString + &quot;.png&quot;))
        </td>
      </tr><tr>
        <td>
          67
        </td>
        <td>
          1555
        </td>
        <td>
          3021
          -
          3089
        </td>
        <td>
          Apply
        </td>
        <td>
          getResource
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          getClass.getResource(&quot;/Plane_&quot; + p.planeDirection.toString + &quot;.png&quot;)
        </td>
      </tr><tr>
        <td>
          67
        </td>
        <td>
          1552
        </td>
        <td>
          3054
          -
          3070
        </td>
        <td>
          Select
        </td>
        <td>
          planeDirection
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          p.planeDirection
        </td>
      </tr><tr>
        <td>
          68
        </td>
        <td>
          1557
        </td>
        <td>
          3100
          -
          3144
        </td>
        <td>
          Apply
        </td>
        <td>
          use
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          model.vehicle.planeBaseSize use convertWidth
        </td>
      </tr><tr>
        <td>
          69
        </td>
        <td>
          1558
        </td>
        <td>
          3154
          -
          3201
        </td>
        <td>
          Apply
        </td>
        <td>
          use
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          model.vehicle.planeHeightSize use convertHeight
        </td>
      </tr><tr>
        <td>
          70
        </td>
        <td>
          1560
        </td>
        <td>
          3211
          -
          3241
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          p.position map convertPosition
        </td>
      </tr><tr>
        <td>
          70
        </td>
        <td>
          1559
        </td>
        <td>
          3211
          -
          3221
        </td>
        <td>
          Select
        </td>
        <td>
          position
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          p.position
        </td>
      </tr><tr>
        <td>
          73
        </td>
        <td>
          1568
        </td>
        <td>
          3282
          -
          3299
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          case s: Satellite
        </td>
      </tr><tr>
        <td>
          74
        </td>
        <td>
          1563
        </td>
        <td>
          3333
          -
          3385
        </td>
        <td>
          Apply
        </td>
        <td>
          read
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          ImageIO.read(getClass.getResource(&quot;/Satellite.png&quot;))
        </td>
      </tr><tr>
        <td>
          74
        </td>
        <td>
          1562
        </td>
        <td>
          3346
          -
          3384
        </td>
        <td>
          Apply
        </td>
        <td>
          getResource
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          getClass.getResource(&quot;/Satellite.png&quot;)
        </td>
      </tr><tr>
        <td>
          75
        </td>
        <td>
          1564
        </td>
        <td>
          3395
          -
          3443
        </td>
        <td>
          Apply
        </td>
        <td>
          use
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          model.vehicle.satelliteBaseSize use convertWidth
        </td>
      </tr><tr>
        <td>
          76
        </td>
        <td>
          1565
        </td>
        <td>
          3453
          -
          3504
        </td>
        <td>
          Apply
        </td>
        <td>
          use
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          model.vehicle.satelliteHeightSize use convertHeight
        </td>
      </tr><tr>
        <td>
          77
        </td>
        <td>
          1566
        </td>
        <td>
          3514
          -
          3524
        </td>
        <td>
          Select
        </td>
        <td>
          position
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          s.position
        </td>
      </tr><tr>
        <td>
          77
        </td>
        <td>
          1567
        </td>
        <td>
          3514
          -
          3544
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          s.position map convertPosition
        </td>
      </tr><tr>
        <td>
          81
        </td>
        <td>
          1569
        </td>
        <td>
          3584
          -
          3614
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          collisionables.map(conversion)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>