<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/CollisionableVisualizer.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view
</span>2 <span style=''>
</span>3 <span style=''>import java.awt.{Image, Toolkit}
</span>4 <span style=''>
</span>5 <span style=''>import model.collisions.Collisionable
</span>6 <span style=''>import model.elements2d.Point2D
</span>7 <span style=''>import model.explosion.Explosion
</span>8 <span style=''>import model.missile.{Missile, MissileImpl, hitboxBase, hitboxHeight}
</span>9 <span style=''>
</span>10 <span style=''>import java.awt.Toolkit
</span>11 <span style=''>import java.awt.image.BufferedImage
</span>12 <span style=''>import javax.imageio.ImageIO
</span>13 <span style=''>import java.io.File
</span>14 <span style=''>
</span>15 <span style=''>/*extension (p: ImageElement)
</span>16 <span style=''>  def map[A](f: ImageElement =&gt; A) = f(p)
</span>17 <span style=''>  def flatMap[A](f: ImageElement =&gt; CollisionableElement) = f(p)
</span>18 <span style=''>*/
</span>19 <span style=''>
</span>20 <span style=''>case class CollisionableElement(image: Image, position: Point2D, baseWidth: Int, baseHeight: Int)
</span>21 <span style=''>case class ImageElement(src: String, position: Point2D)
</span>22 <span style=''>
</span>23 <span style=''>given </span><span style='background: #AEF1AE'>Conversion[Double, Int]</span><span style=''> with
</span>24 <span style=''>  </span><span style='background: #AEF1AE'>override def apply</span><span style=''>(x: Double): Int = x.toInt
</span>25 <span style=''>
</span>26 <span style=''>object CollisionableVisualizer:
</span>27 <span style=''>  //TODO string resource
</span>28 <span style=''>  val resourceFolderPath: String = (</span><span style='background: #AEF1AE'>System.getProperty(&quot;user.dir&quot;).toString + &quot;\\src\\main\\resources\\&quot;</span><span style=''>)
</span>29 <span style=''>
</span>30 <span style=''>  val conversion: Collisionable =&gt; CollisionableElement = (c: Collisionable) =&gt;
</span>31 <span style=''>    val imageElement = c match
</span>32 <span style=''>    </span><span style='background: #AEF1AE'>case m: Missile</span><span style=''> =&gt; ImageElement(&quot; &quot;, </span><span style='background: #AEF1AE'>m.position</span><span style=''>)
</span>33 <span style=''>    </span><span style='background: #F0ADAD'>case e: Explosion</span><span style=''> =&gt; ImageElement(&quot; &quot;, </span><span style='background: #F0ADAD'>e.position</span><span style=''>)
</span>34 <span style=''>
</span>35 <span style=''>    val img = </span><span style='background: #AEF1AE'>Toolkit.getDefaultToolkit().getImage(resourceFolderPath + &quot;\\city_&quot; + 2 + &quot;.png&quot;)</span><span style=''> //element.src
</span>36 <span style=''>
</span>37 <span style=''>    CollisionableElement(img, imageElement.position, </span><span style='background: #AEF1AE'>hitboxBase</span><span style=''>, </span><span style='background: #AEF1AE'>hitboxHeight</span><span style=''>)
</span>38 <span style=''>
</span>39 <span style=''>  </span><span style='background: #AEF1AE'>def printElements</span><span style=''>(collisionables: List[Collisionable]): List[CollisionableElement] =
</span>40 <span style=''>    </span><span style='background: #AEF1AE'>for
</span>41 <span style=''></span><span style='background: #AEF1AE'>      i &lt;- collisionables
</span>42 <span style=''></span><span style='background: #AEF1AE'>    yield conversion(i)</span><span style=''>
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          887
        </td>
        <td>
          634
          -
          657
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          Conversion[Double, Int]
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          888
        </td>
        <td>
          665
          -
          683
        </td>
        <td>
          DefDef
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          override def apply
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          872
        </td>
        <td>
          804
          -
          872
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          System.getProperty(&quot;user.dir&quot;).toString + &quot;\\src\\main\\resources\\&quot;
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          871
        </td>
        <td>
          804
          -
          843
        </td>
        <td>
          Apply
        </td>
        <td>
          toString
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          System.getProperty(&quot;user.dir&quot;).toString
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          870
        </td>
        <td>
          804
          -
          834
        </td>
        <td>
          Apply
        </td>
        <td>
          getProperty
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          System.getProperty(&quot;user.dir&quot;)
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          873
        </td>
        <td>
          1027
          -
          1037
        </td>
        <td>
          Select
        </td>
        <td>
          position
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          m.position
        </td>
      </tr><tr>
        <td>
          31
        </td>
        <td>
          874
        </td>
        <td>
          990
          -
          1005
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          case m: Missile
        </td>
      </tr><tr>
        <td>
          32
        </td>
        <td>
          875
        </td>
        <td>
          1082
          -
          1092
        </td>
        <td>
          Select
        </td>
        <td>
          position
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.position
        </td>
      </tr><tr>
        <td>
          32
        </td>
        <td>
          876
        </td>
        <td>
          1043
          -
          1060
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          case e: Explosion
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          881
        </td>
        <td>
          1109
          -
          1190
        </td>
        <td>
          Apply
        </td>
        <td>
          getImage
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          Toolkit.getDefaultToolkit().getImage(resourceFolderPath + &quot;\\city_&quot; + 2 + &quot;.png&quot;)
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          878
        </td>
        <td>
          1146
          -
          1176
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          resourceFolderPath + &quot;\\city_&quot;
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          877
        </td>
        <td>
          1109
          -
          1136
        </td>
        <td>
          Apply
        </td>
        <td>
          getDefaultToolkit
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          Toolkit.getDefaultToolkit()
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          880
        </td>
        <td>
          1146
          -
          1189
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          resourceFolderPath + &quot;\\city_&quot; + 2 + &quot;.png&quot;
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          879
        </td>
        <td>
          1146
          -
          1180
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          resourceFolderPath + &quot;\\city_&quot; + 2
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          882
        </td>
        <td>
          1259
          -
          1269
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          hitboxBase
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          883
        </td>
        <td>
          1271
          -
          1283
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          hitboxHeight
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          886
        </td>
        <td>
          1288
          -
          1305
        </td>
        <td>
          DefDef
        </td>
        <td>
          printElements
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          def printElements
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          885
        </td>
        <td>
          1377
          -
          1430
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          for
      i &lt;- collisionables
    yield conversion(i)
        </td>
      </tr><tr>
        <td>
          41
        </td>
        <td>
          884
        </td>
        <td>
          1417
          -
          1430
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          conversion(i)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>