<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/CollisionableVisualizer.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view
</span>2 <span style=''>
</span>3 <span style=''>import model.World
</span>4 <span style=''>
</span>5 <span style=''>import java.awt.{Color, Image, Toolkit}
</span>6 <span style=''>import model.collisions.{Affiliation, Collisionable}
</span>7 <span style=''>import model.elements2d.{Angle, Point2D}
</span>8 <span style=''>import model.explosion.Explosion
</span>9 <span style=''>import model.missile.{Missile, MissileDamageable, MissileImpl, hitboxBase, hitboxHeight}
</span>10 <span style=''>
</span>11 <span style=''>import java.awt.image.BufferedImage
</span>12 <span style=''>import javax.imageio.ImageIO
</span>13 <span style=''>import java.io.{File, FileNotFoundException}
</span>14 <span style=''>
</span>15 <span style=''>/**
</span>16 <span style=''> * Extension method for a Point2D, that perform a mapping returning a new Point2D based
</span>17 <span style=''> * on the function taken by input
</span>18 <span style=''> */
</span>19 <span style=''>extension(p: Point2D)
</span>20 <span style=''>  </span><span style='background: #AEF1AE'>def map</span><span style=''>(f: (Point2D) =&gt; Point2D) = </span><span style='background: #AEF1AE'>f(p)</span><span style=''>
</span>21 <span style=''>
</span>22 <span style=''>/**
</span>23 <span style=''> * Case class that represent a graphic collisionable element
</span>24 <span style=''> * @param image The image for the given collisionable
</span>25 <span style=''> * @param baseWidth The width of the image
</span>26 <span style=''> * @param baseHeight The height of the image
</span>27 <span style=''> * @param position The position of the image mapped into the GUI space
</span>28 <span style=''> * @param angle The angle of the image
</span>29 <span style=''> */
</span>30 <span style=''>case class CollisionableElement(image: BufferedImage, baseWidth: Int, baseHeight: Int,
</span>31 <span style=''>                                position: Point2D, angle: Angle = Angle.Degree(0))
</span>32 <span style=''>
</span>33 <span style=''>object CollisionableVisualizer:
</span>34 <span style=''>  /**
</span>35 <span style=''>   * Lambda value that return a gui mapped Point2D given a logical one
</span>36 <span style=''>   */
</span>37 <span style=''>  private val convertPosition: (Point2D) =&gt; Point2D = (p) =&gt; </span><span style='background: #AEF1AE'>Point2D((p.x * ViewConstants.GUI_width) / World.width, (p.y * ViewConstants.GUI_height) / World.height)</span><span style=''>
</span>38 <span style=''>
</span>39 <span style=''>  /**
</span>40 <span style=''>   * Method that creates a graphic set of [[CollisionableElement]] from a set of [[Collisionable]]
</span>41 <span style=''>   * @param collisionables The set of [[Collisionable]] to convert
</span>42 <span style=''>   * @param conversion The conversion method to convert double values into integers
</span>43 <span style=''>   * @return the set of CollisionableElements created
</span>44 <span style=''>   */
</span>45 <span style=''>  </span><span style='background: #AEF1AE'>def printElements</span><span style=''>(collisionables: Set[Collisionable])(using conversion: Conversion[Double, Int]): Set[CollisionableElement] =
</span>46 <span style=''>
</span>47 <span style=''>    val conversion: Collisionable =&gt; CollisionableElement = (c: Collisionable) =&gt; c match
</span>48 <span style=''>      </span><span style='background: #AEF1AE'>case m: Missile with MissileDamageable</span><span style=''> =&gt;
</span>49 <span style=''>        var optImage:  Option[BufferedImage] = </span><span style='background: #AEF1AE'>Option.empty</span><span style=''>
</span>50 <span style=''>        try </span><span style='background: #AEF1AE'>{
</span>51 <span style=''></span><span style='background: #AEF1AE'>          m.affiliation match
</span>52 <span style=''></span><span style='background: #AEF1AE'>            case Affiliation.Enemy =&gt; optImage = Option(ImageIO.read(getClass.getResource(&quot;/enemy_missile.png&quot;)))
</span>53 <span style=''></span><span style='background: #AEF1AE'>            </span><span style='background: #F0ADAD'>case _</span><span style='background: #AEF1AE'> =&gt; optImage = </span><span style='background: #F0ADAD'>Option(ImageIO.read(getClass.getResource(&quot;/friendly_missile.png&quot;)))</span><span style='background: #AEF1AE'>
</span>54 <span style=''></span><span style='background: #AEF1AE'>        }</span><span style=''> catch {
</span>55 <span style=''>          </span><span style='background: #F0ADAD'>case e: Exception</span><span style=''> =&gt; </span><span style='background: #F0ADAD'>throw new FileNotFoundException()</span><span style=''>
</span>56 <span style=''>        }
</span>57 <span style=''>        CollisionableElement(</span><span style='background: #AEF1AE'>optImage.getOrElse(null)</span><span style=''>, </span><span style='background: #AEF1AE'>hitboxBase</span><span style=''>, </span><span style='background: #AEF1AE'>hitboxHeight</span><span style=''>, </span><span style='background: #AEF1AE'>m.position map convertPosition</span><span style=''>, </span><span style='background: #AEF1AE'>m.angle.getOrElse(Angle.Degree(0))</span><span style=''>)
</span>58 <span style=''>      </span><span style='background: #F0ADAD'>case e: Explosion</span><span style=''> =&gt;
</span>59 <span style=''>        val diameter = </span><span style='background: #F0ADAD'>e.radius</span><span style=''> * 2
</span>60 <span style=''>        val bi = </span><span style='background: #F0ADAD'>new BufferedImage(diameter,diameter, BufferedImage.TYPE_INT_ARGB)</span><span style=''>
</span>61 <span style=''>        val g2d = </span><span style='background: #F0ADAD'>bi.createGraphics()</span><span style=''>
</span>62 <span style=''>        </span><span style='background: #F0ADAD'>g2d.setColor(Color.RED)</span><span style=''>
</span>63 <span style=''>        </span><span style='background: #F0ADAD'>g2d.drawOval(0, 0, diameter, diameter)</span><span style=''>
</span>64 <span style=''>        </span><span style='background: #F0ADAD'>g2d.dispose()</span><span style=''>
</span>65 <span style=''>        </span><span style='background: #F0ADAD'>CollisionableElement</span><span style=''>(bi, </span><span style='background: #F0ADAD'>diameter</span><span style=''>, </span><span style='background: #F0ADAD'>diameter</span><span style=''>, </span><span style='background: #F0ADAD'>e.position map convertPosition</span><span style=''>)
</span>66 <span style=''>
</span>67 <span style=''>    </span><span style='background: #AEF1AE'>collisionables.map(conversion)</span><span style=''>
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          1369
        </td>
        <td>
          591
          -
          595
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          f(p)
        </td>
      </tr><tr>
        <td>
          19
        </td>
        <td>
          1370
        </td>
        <td>
          556
          -
          563
        </td>
        <td>
          DefDef
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          def map
        </td>
      </tr><tr>
        <td>
          30
        </td>
        <td>
          1325
        </td>
        <td>
          1071
          -
          1071
        </td>
        <td>
          DefDef
        </td>
        <td>
          $lessinit$greater$default$5
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          1327
        </td>
        <td>
          1321
          -
          1324
        </td>
        <td>
          Select
        </td>
        <td>
          y
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          p.y
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          1326
        </td>
        <td>
          1274
          -
          1277
        </td>
        <td>
          Select
        </td>
        <td>
          x
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          p.x
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          1328
        </td>
        <td>
          1265
          -
          1368
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          Point2D((p.x * ViewConstants.GUI_width) / World.width, (p.y * ViewConstants.GUI_height) / World.height)
        </td>
      </tr><tr>
        <td>
          44
        </td>
        <td>
          1368
        </td>
        <td>
          1688
          -
          1705
        </td>
        <td>
          DefDef
        </td>
        <td>
          printElements
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          def printElements
        </td>
      </tr><tr>
        <td>
          47
        </td>
        <td>
          1350
        </td>
        <td>
          1911
          -
          1949
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          case m: Missile with MissileDamageable
        </td>
      </tr><tr>
        <td>
          48
        </td>
        <td>
          1329
        </td>
        <td>
          2000
          -
          2012
        </td>
        <td>
          Select
        </td>
        <td>
          empty
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          Option.empty
        </td>
      </tr><tr>
        <td>
          49
        </td>
        <td>
          1339
        </td>
        <td>
          2025
          -
          2281
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          {
          m.affiliation match
            case Affiliation.Enemy =&gt; optImage = Option(ImageIO.read(getClass.getResource(&quot;/enemy_missile.png&quot;)))
            case _ =&gt; optImage = Option(ImageIO.read(getClass.getResource(&quot;/friendly_missile.png&quot;)))
        }
        </td>
      </tr><tr>
        <td>
          50
        </td>
        <td>
          1330
        </td>
        <td>
          2037
          -
          2050
        </td>
        <td>
          Select
        </td>
        <td>
          affiliation
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          m.affiliation
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          1333
        </td>
        <td>
          2106
          -
          2170
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          Option(ImageIO.read(getClass.getResource(&quot;/enemy_missile.png&quot;)))
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          1332
        </td>
        <td>
          2113
          -
          2169
        </td>
        <td>
          Apply
        </td>
        <td>
          read
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          ImageIO.read(getClass.getResource(&quot;/enemy_missile.png&quot;))
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          1334
        </td>
        <td>
          2069
          -
          2091
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          case Affiliation.Enemy
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          1331
        </td>
        <td>
          2126
          -
          2168
        </td>
        <td>
          Apply
        </td>
        <td>
          getResource
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          getClass.getResource(&quot;/enemy_missile.png&quot;)
        </td>
      </tr><tr>
        <td>
          52
        </td>
        <td>
          1336
        </td>
        <td>
          2211
          -
          2270
        </td>
        <td>
          Apply
        </td>
        <td>
          read
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          ImageIO.read(getClass.getResource(&quot;/friendly_missile.png&quot;))
        </td>
      </tr><tr>
        <td>
          52
        </td>
        <td>
          1338
        </td>
        <td>
          2183
          -
          2189
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          case _
        </td>
      </tr><tr>
        <td>
          52
        </td>
        <td>
          1335
        </td>
        <td>
          2224
          -
          2269
        </td>
        <td>
          Apply
        </td>
        <td>
          getResource
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          getClass.getResource(&quot;/friendly_missile.png&quot;)
        </td>
      </tr><tr>
        <td>
          52
        </td>
        <td>
          1337
        </td>
        <td>
          2204
          -
          2271
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Option(ImageIO.read(getClass.getResource(&quot;/friendly_missile.png&quot;)))
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          1342
        </td>
        <td>
          2300
          -
          2317
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          case e: Exception
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          1341
        </td>
        <td>
          2321
          -
          2354
        </td>
        <td>
          Apply
        </td>
        <td>
          throw
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          throw new FileNotFoundException()
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          1340
        </td>
        <td>
          2327
          -
          2354
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          new FileNotFoundException()
        </td>
      </tr><tr>
        <td>
          56
        </td>
        <td>
          1345
        </td>
        <td>
          2432
          -
          2444
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          hitboxHeight
        </td>
      </tr><tr>
        <td>
          56
        </td>
        <td>
          1348
        </td>
        <td>
          2478
          -
          2485
        </td>
        <td>
          Select
        </td>
        <td>
          angle
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          m.angle
        </td>
      </tr><tr>
        <td>
          56
        </td>
        <td>
          1347
        </td>
        <td>
          2446
          -
          2476
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          m.position map convertPosition
        </td>
      </tr><tr>
        <td>
          56
        </td>
        <td>
          1344
        </td>
        <td>
          2420
          -
          2430
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          hitboxBase
        </td>
      </tr><tr>
        <td>
          56
        </td>
        <td>
          1343
        </td>
        <td>
          2394
          -
          2418
        </td>
        <td>
          Apply
        </td>
        <td>
          getOrElse
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          optImage.getOrElse(null)
        </td>
      </tr><tr>
        <td>
          56
        </td>
        <td>
          1346
        </td>
        <td>
          2446
          -
          2456
        </td>
        <td>
          Select
        </td>
        <td>
          position
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          m.position
        </td>
      </tr><tr>
        <td>
          56
        </td>
        <td>
          1349
        </td>
        <td>
          2478
          -
          2512
        </td>
        <td>
          Apply
        </td>
        <td>
          getOrElse
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          m.angle.getOrElse(Angle.Degree(0))
        </td>
      </tr><tr>
        <td>
          57
        </td>
        <td>
          1366
        </td>
        <td>
          2520
          -
          2537
        </td>
        <td>
          Block
        </td>
        <td>
          &lt;none&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          case e: Explosion
        </td>
      </tr><tr>
        <td>
          58
        </td>
        <td>
          1351
        </td>
        <td>
          2564
          -
          2572
        </td>
        <td>
          Select
        </td>
        <td>
          radius
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.radius
        </td>
      </tr><tr>
        <td>
          59
        </td>
        <td>
          1354
        </td>
        <td>
          2594
          -
          2659
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          new BufferedImage(diameter,diameter, BufferedImage.TYPE_INT_ARGB)
        </td>
      </tr><tr>
        <td>
          59
        </td>
        <td>
          1353
        </td>
        <td>
          2621
          -
          2629
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          diameter
        </td>
      </tr><tr>
        <td>
          59
        </td>
        <td>
          1352
        </td>
        <td>
          2612
          -
          2620
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          diameter
        </td>
      </tr><tr>
        <td>
          60
        </td>
        <td>
          1355
        </td>
        <td>
          2678
          -
          2697
        </td>
        <td>
          Apply
        </td>
        <td>
          createGraphics
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          bi.createGraphics()
        </td>
      </tr><tr>
        <td>
          61
        </td>
        <td>
          1356
        </td>
        <td>
          2706
          -
          2729
        </td>
        <td>
          Apply
        </td>
        <td>
          setColor
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.setColor(Color.RED)
        </td>
      </tr><tr>
        <td>
          62
        </td>
        <td>
          1357
        </td>
        <td>
          2757
          -
          2765
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          diameter
        </td>
      </tr><tr>
        <td>
          62
        </td>
        <td>
          1359
        </td>
        <td>
          2738
          -
          2776
        </td>
        <td>
          Apply
        </td>
        <td>
          drawOval
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.drawOval(0, 0, diameter, diameter)
        </td>
      </tr><tr>
        <td>
          62
        </td>
        <td>
          1358
        </td>
        <td>
          2767
          -
          2775
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          diameter
        </td>
      </tr><tr>
        <td>
          63
        </td>
        <td>
          1360
        </td>
        <td>
          2785
          -
          2798
        </td>
        <td>
          Apply
        </td>
        <td>
          dispose
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          g2d.dispose()
        </td>
      </tr><tr>
        <td>
          64
        </td>
        <td>
          1363
        </td>
        <td>
          2852
          -
          2862
        </td>
        <td>
          Select
        </td>
        <td>
          position
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.position
        </td>
      </tr><tr>
        <td>
          64
        </td>
        <td>
          1365
        </td>
        <td>
          2807
          -
          2827
        </td>
        <td>
          Select
        </td>
        <td>
          $lessinit$greater$default$5
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          CollisionableElement
        </td>
      </tr><tr>
        <td>
          64
        </td>
        <td>
          1362
        </td>
        <td>
          2842
          -
          2850
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          diameter
        </td>
      </tr><tr>
        <td>
          64
        </td>
        <td>
          1361
        </td>
        <td>
          2832
          -
          2840
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          diameter
        </td>
      </tr><tr>
        <td>
          64
        </td>
        <td>
          1364
        </td>
        <td>
          2852
          -
          2882
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          e.position map convertPosition
        </td>
      </tr><tr>
        <td>
          66
        </td>
        <td>
          1367
        </td>
        <td>
          2889
          -
          2919
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          collisionables.map(conversion)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>