<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/Main.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view
</span>2 <span style=''>
</span>3 <span style=''>import controller.Controller
</span>4 <span style=''>import model.World
</span>5 <span style=''>import view.gui.GUI
</span>6 <span style=''>import monix.execution.Scheduler.Implicits.global
</span>7 <span style=''>
</span>8 <span style=''>object Main:
</span>9 <span style=''>    </span><span style='background: #F0ADAD'>def main</span><span style=''>(args: Array[String]): Unit =
</span>10 <span style=''>        val swingUI = </span><span style='background: #F0ADAD'>new GUI(ViewConstants.GUI_width, ViewConstants.GUI_height + 39)</span><span style=''> //39 is the number of pixels in the bar
</span>11 <span style=''>        val loop = </span><span style='background: #F0ADAD'>Controller.start(swingUI)</span><span style=''>
</span>12 <span style=''>        </span><span style='background: #F0ADAD'>loop.runAsyncAndForget</span><span style=''>
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          8
        </td>
        <td>
          1245
        </td>
        <td>
          150
          -
          158
        </td>
        <td>
          DefDef
        </td>
        <td>
          main
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def main
        </td>
      </tr><tr>
        <td>
          9
        </td>
        <td>
          1242
        </td>
        <td>
          210
          -
          273
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          new GUI(ViewConstants.GUI_width, ViewConstants.GUI_height + 39)
        </td>
      </tr><tr>
        <td>
          10
        </td>
        <td>
          1243
        </td>
        <td>
          333
          -
          358
        </td>
        <td>
          Apply
        </td>
        <td>
          start
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Controller.start(swingUI)
        </td>
      </tr><tr>
        <td>
          11
        </td>
        <td>
          1244
        </td>
        <td>
          367
          -
          389
        </td>
        <td>
          Apply
        </td>
        <td>
          runAsyncAndForget
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          loop.runAsyncAndForget
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>