<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/package.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>import model.World
</span>2 <span style=''>
</span>3 <span style=''>package object view:
</span>4 <span style=''>  given </span><span style='background: #F0ADAD'>Conversion[Double, Int]</span><span style=''> with
</span>5 <span style=''>    </span><span style='background: #F0ADAD'>override def apply</span><span style=''>(x: Double): Int = x.toInt
</span>6 <span style=''>
</span>7 <span style=''>  val viewMapper: (Double) =&gt; Double = _ * (ViewConstants.GUI_width / model.World.width)
</span>8 <span style=''>  val ratioWidth: Double = </span><span style='background: #F0ADAD'>ViewConstants.GUI_width / World.width</span><span style=''>
</span>9 <span style=''>  val ratioHeight: Double = </span><span style='background: #F0ADAD'>ViewConstants.GUI_height / World.height</span><span style=''>
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          3
        </td>
        <td>
          1443
        </td>
        <td>
          49
          -
          72
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          Conversion[Double, Int]
        </td>
      </tr><tr>
        <td>
          4
        </td>
        <td>
          1444
        </td>
        <td>
          82
          -
          100
        </td>
        <td>
          DefDef
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          override def apply
        </td>
      </tr><tr>
        <td>
          7
        </td>
        <td>
          1445
        </td>
        <td>
          244
          -
          281
        </td>
        <td>
          Apply
        </td>
        <td>
          int2double
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          ViewConstants.GUI_width / World.width
        </td>
      </tr><tr>
        <td>
          8
        </td>
        <td>
          1446
        </td>
        <td>
          310
          -
          349
        </td>
        <td>
          Apply
        </td>
        <td>
          int2double
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          ViewConstants.GUI_height / World.height
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>