<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/package.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>import model.World
</span>2 <span style=''>import model.elements2d.Point2D
</span>3 <span style=''>
</span>4 <span style=''>package object view:
</span>5 <span style=''>  given </span><span style='background: #AEF1AE'>Conversion[Double, Int]</span><span style=''> with
</span>6 <span style=''>    </span><span style='background: #AEF1AE'>override def apply</span><span style=''>(x: Double): Int = x.toInt
</span>7 <span style=''>
</span>8 <span style=''>  extension(i: Int)
</span>9 <span style=''>    </span><span style='background: #AEF1AE'>def use</span><span style=''>(f: (Int) =&gt; Int) = </span><span style='background: #AEF1AE'>f(i)</span><span style=''>
</span>10 <span style=''>
</span>11 <span style=''>  val ratioWidth: Double = ViewConstants.GUI_width.toDouble / World.width.toDouble
</span>12 <span style=''>  val ratioHeight: Double = ViewConstants.GUI_height.toDouble / World.height.toDouble
</span>13 <span style=''>  
</span>14 <span style=''>  /**
</span>15 <span style=''>   * Lambda value that return a gui mapped Point2D given a logical one
</span>16 <span style=''>   */
</span>17 <span style=''>  private val convertPosition: (Point2D) =&gt; Point2D = (p) =&gt; </span><span style='background: #AEF1AE'>Point2D(p.x * ratioWidth, p.y * ratioHeight)</span><span style=''>
</span>18 <span style=''>
</span>19 <span style=''>  private val convertWidth: (Int) =&gt; Int = (i) =&gt; (i * ViewConstants.GUI_width) / World.width
</span>20 <span style=''>  private val convertHeight: (Int) =&gt; Int = (i) =&gt; (i * ViewConstants.GUI_height) / World.height
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          4
        </td>
        <td>
          1704
        </td>
        <td>
          81
          -
          104
        </td>
        <td>
          Apply
        </td>
        <td>
          &lt;init&gt;
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          Conversion[Double, Int]
        </td>
      </tr><tr>
        <td>
          5
        </td>
        <td>
          1705
        </td>
        <td>
          114
          -
          132
        </td>
        <td>
          DefDef
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          override def apply
        </td>
      </tr><tr>
        <td>
          8
        </td>
        <td>
          1707
        </td>
        <td>
          184
          -
          191
        </td>
        <td>
          DefDef
        </td>
        <td>
          use
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          def use
        </td>
      </tr><tr>
        <td>
          8
        </td>
        <td>
          1706
        </td>
        <td>
          211
          -
          215
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          f(i)
        </td>
      </tr><tr>
        <td>
          16
        </td>
        <td>
          1710
        </td>
        <td>
          533
          -
          577
        </td>
        <td>
          Apply
        </td>
        <td>
          apply
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          Point2D(p.x * ratioWidth, p.y * ratioHeight)
        </td>
      </tr><tr>
        <td>
          16
        </td>
        <td>
          1709
        </td>
        <td>
          559
          -
          562
        </td>
        <td>
          Select
        </td>
        <td>
          y
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          p.y
        </td>
      </tr><tr>
        <td>
          16
        </td>
        <td>
          1708
        </td>
        <td>
          541
          -
          544
        </td>
        <td>
          Select
        </td>
        <td>
          x
        </td>
        <td>
          
        </td>
        <td style="background: #AEF1AE">
          p.x
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>