<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/Visualizer.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view
</span>2 <span style=''>
</span>3 <span style=''>import model.World
</span>4 <span style=''>
</span>5 <span style=''>import java.awt.{Image, Toolkit}
</span>6 <span style=''>import model.collisions.{Collisionable, Damageable}
</span>7 <span style=''>import model.elements2d.Point2D
</span>8 <span style=''>import model.ground.{City, Ground, MissileBattery}
</span>9 <span style=''>import model.missile.{Missile, hitboxBase, hitboxHeight}
</span>10 <span style=''>import utilities.*
</span>11 <span style=''>
</span>12 <span style=''>import javax.imageio.ImageIO
</span>13 <span style=''>
</span>14 <span style=''>object Visualizer:
</span>15 <span style=''>
</span>16 <span style=''>    val resourceFolderPath: String = (</span><span style='background: #F0ADAD'>System.getProperty(&quot;user.dir&quot;).toString + &quot;\\src\\main\\resources\\&quot;</span><span style=''>)
</span>17 <span style=''>
</span>18 <span style=''>    /***
</span>19 <span style=''>     * Method used for preparing the ImageView of a city.
</span>20 <span style=''>     * @param structure City to be used.
</span>21 <span style=''>     * @return ImageView of the city passed.
</span>22 <span style=''>     */
</span>23 <span style=''>    </span><span style='background: #F0ADAD'>def prepareCityImage</span><span style=''>(structure: City): Tuple4[Image, Point2D, Int, Int] =
</span>24 <span style=''>        (
</span>25 <span style=''>            </span><span style='background: #F0ADAD'>ImageIO.read(getClass.getResource(&quot;/city_&quot; + structure.currentLife + &quot;.png&quot;))</span><span style=''>,
</span>26 <span style=''>            </span><span style='background: #F0ADAD'>structure.position map convertPosition</span><span style=''>,
</span>27 <span style=''>            </span><span style='background: #F0ADAD'>cityBaseSize use convertWidth</span><span style=''>,
</span>28 <span style=''>            </span><span style='background: #F0ADAD'>cityHeightSize use convertHeight</span><span style=''>
</span>29 <span style=''>        )
</span>30 <span style=''>
</span>31 <span style=''>    /***
</span>32 <span style=''>     * Method used for preparing the ImageView of a missile turret.
</span>33 <span style=''>     * @param structure Missile turret to be used.
</span>34 <span style=''>     * @return ImageView of the missile turret passed
</span>35 <span style=''>     */
</span>36 <span style=''>    </span><span style='background: #F0ADAD'>def prepareBatteryMissileImage</span><span style=''>(structure: MissileBattery): Tuple4[Image, Point2D, Int, Int] =
</span>37 <span style=''>        (
</span>38 <span style=''>            </span><span style='background: #F0ADAD'>ImageIO.read(getClass.getResource(&quot;/Base_&quot; + structure.isReadyForShoot + &quot;_&quot; + structure.currentLife + &quot;.png&quot;))</span><span style=''>,
</span>39 <span style=''>            </span><span style='background: #F0ADAD'>structure.bottomLeft_Position map convertPosition</span><span style=''>,
</span>40 <span style=''>            </span><span style='background: #F0ADAD'>missileBattery_BaseSize use convertWidth</span><span style=''>,
</span>41 <span style=''>            </span><span style='background: #F0ADAD'>missileBatteryHeightSize use convertHeight</span><span style=''>
</span>42 <span style=''>        )
</span>43 <span style=''>
</span>44 <span style=''>    /***
</span>45 <span style=''>     * Method used for preparing a list of ImageView of a given ground.
</span>46 <span style=''>     * @param ground Ground to be used.
</span>47 <span style=''>     * @return List of ImageView of all the structures in the ground.
</span>48 <span style=''>     */
</span>49 <span style=''>    </span><span style='background: #F0ADAD'>def printGround</span><span style=''>(ground: Ground): List[Tuple4[Image, Point2D, Int, Int]] =
</span>50 <span style=''>        </span><span style='background: #F0ADAD'>(for structure &lt;- ground.cities yield prepareCityImage(structure))
</span>51 <span style=''></span><span style='background: #F0ADAD'>            ++
</span>52 <span style=''></span><span style='background: #F0ADAD'>            (for structure &lt;- ground.turrets yield prepareBatteryMissileImage(structure)</span><span style=''>)
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          15
        </td>
        <td>
          1521
        </td>
        <td>
          367
          -
          397
        </td>
        <td>
          Apply
        </td>
        <td>
          getProperty
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;)
        </td>
      </tr><tr>
        <td>
          15
        </td>
        <td>
          1523
        </td>
        <td>
          367
          -
          435
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;).toString + &quot;\\src\\main\\resources\\&quot;
        </td>
      </tr><tr>
        <td>
          15
        </td>
        <td>
          1522
        </td>
        <td>
          367
          -
          406
        </td>
        <td>
          Apply
        </td>
        <td>
          toString
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;).toString
        </td>
      </tr><tr>
        <td>
          22
        </td>
        <td>
          1532
        </td>
        <td>
          603
          -
          623
        </td>
        <td>
          DefDef
        </td>
        <td>
          prepareCityImage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def prepareCityImage
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1528
        </td>
        <td>
          699
          -
          776
        </td>
        <td>
          Apply
        </td>
        <td>
          read
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          ImageIO.read(getClass.getResource(&quot;/city_&quot; + structure.currentLife + &quot;.png&quot;))
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1527
        </td>
        <td>
          712
          -
          775
        </td>
        <td>
          Apply
        </td>
        <td>
          getResource
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          getClass.getResource(&quot;/city_&quot; + structure.currentLife + &quot;.png&quot;)
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1524
        </td>
        <td>
          744
          -
          765
        </td>
        <td>
          Select
        </td>
        <td>
          currentLife
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          structure.currentLife
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1526
        </td>
        <td>
          733
          -
          774
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/city_&quot; + structure.currentLife + &quot;.png&quot;
        </td>
      </tr><tr>
        <td>
          24
        </td>
        <td>
          1525
        </td>
        <td>
          733
          -
          765
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/city_&quot; + structure.currentLife
        </td>
      </tr><tr>
        <td>
          25
        </td>
        <td>
          1529
        </td>
        <td>
          790
          -
          828
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          structure.position map convertPosition
        </td>
      </tr><tr>
        <td>
          26
        </td>
        <td>
          1530
        </td>
        <td>
          842
          -
          871
        </td>
        <td>
          Apply
        </td>
        <td>
          use
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          cityBaseSize use convertWidth
        </td>
      </tr><tr>
        <td>
          27
        </td>
        <td>
          1531
        </td>
        <td>
          885
          -
          917
        </td>
        <td>
          Apply
        </td>
        <td>
          use
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          cityHeightSize use convertHeight
        </td>
      </tr><tr>
        <td>
          35
        </td>
        <td>
          1544
        </td>
        <td>
          1123
          -
          1153
        </td>
        <td>
          DefDef
        </td>
        <td>
          prepareBatteryMissileImage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def prepareBatteryMissileImage
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          1536
        </td>
        <td>
          1318
          -
          1339
        </td>
        <td>
          Select
        </td>
        <td>
          currentLife
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          structure.currentLife
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          1539
        </td>
        <td>
          1252
          -
          1349
        </td>
        <td>
          Apply
        </td>
        <td>
          getResource
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          getClass.getResource(&quot;/Base_&quot; + structure.isReadyForShoot + &quot;_&quot; + structure.currentLife + &quot;.png&quot;)
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          1533
        </td>
        <td>
          1284
          -
          1309
        </td>
        <td>
          Select
        </td>
        <td>
          isReadyForShoot
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          structure.isReadyForShoot
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          1535
        </td>
        <td>
          1273
          -
          1315
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/Base_&quot; + structure.isReadyForShoot + &quot;_&quot;
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          1538
        </td>
        <td>
          1273
          -
          1348
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/Base_&quot; + structure.isReadyForShoot + &quot;_&quot; + structure.currentLife + &quot;.png&quot;
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          1537
        </td>
        <td>
          1273
          -
          1339
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/Base_&quot; + structure.isReadyForShoot + &quot;_&quot; + structure.currentLife
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          1540
        </td>
        <td>
          1239
          -
          1350
        </td>
        <td>
          Apply
        </td>
        <td>
          read
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          ImageIO.read(getClass.getResource(&quot;/Base_&quot; + structure.isReadyForShoot + &quot;_&quot; + structure.currentLife + &quot;.png&quot;))
        </td>
      </tr><tr>
        <td>
          37
        </td>
        <td>
          1534
        </td>
        <td>
          1273
          -
          1309
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/Base_&quot; + structure.isReadyForShoot
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          1541
        </td>
        <td>
          1364
          -
          1413
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          structure.bottomLeft_Position map convertPosition
        </td>
      </tr><tr>
        <td>
          39
        </td>
        <td>
          1542
        </td>
        <td>
          1427
          -
          1467
        </td>
        <td>
          Apply
        </td>
        <td>
          use
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          missileBattery_BaseSize use convertWidth
        </td>
      </tr><tr>
        <td>
          40
        </td>
        <td>
          1543
        </td>
        <td>
          1481
          -
          1523
        </td>
        <td>
          Apply
        </td>
        <td>
          use
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          missileBatteryHeightSize use convertHeight
        </td>
      </tr><tr>
        <td>
          48
        </td>
        <td>
          1550
        </td>
        <td>
          1738
          -
          1753
        </td>
        <td>
          DefDef
        </td>
        <td>
          printGround
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def printGround
        </td>
      </tr><tr>
        <td>
          49
        </td>
        <td>
          1545
        </td>
        <td>
          1858
          -
          1885
        </td>
        <td>
          Apply
        </td>
        <td>
          prepareCityImage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          prepareCityImage(structure)
        </td>
      </tr><tr>
        <td>
          49
        </td>
        <td>
          1546
        </td>
        <td>
          1821
          -
          1885
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          for structure &lt;- ground.cities yield prepareCityImage(structure)
        </td>
      </tr><tr>
        <td>
          49
        </td>
        <td>
          1549
        </td>
        <td>
          1820
          -
          1990
        </td>
        <td>
          Apply
        </td>
        <td>
          ++
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          (for structure &lt;- ground.cities yield prepareCityImage(structure))
            ++
            (for structure &lt;- ground.turrets yield prepareBatteryMissileImage(structure)
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          1548
        </td>
        <td>
          1915
          -
          1990
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          for structure &lt;- ground.turrets yield prepareBatteryMissileImage(structure)
        </td>
      </tr><tr>
        <td>
          51
        </td>
        <td>
          1547
        </td>
        <td>
          1953
          -
          1990
        </td>
        <td>
          Apply
        </td>
        <td>
          prepareBatteryMissileImage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          prepareBatteryMissileImage(structure)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>