<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          view/Visualizer.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier, monospace;'>1 <span style=''>package view
</span>2 <span style=''>
</span>3 <span style=''>import java.awt.{Image, Toolkit}
</span>4 <span style=''>import model.collisions.{Collisionable, Damageable}
</span>5 <span style=''>import model.elements2d.Point2D
</span>6 <span style=''>import model.ground.{City, Ground, MissileBattery}
</span>7 <span style=''>import model.missile.{Missile, hitboxBase, hitboxHeight}
</span>8 <span style=''>import utilities._
</span>9 <span style=''>
</span>10 <span style=''>
</span>11 <span style=''>
</span>12 <span style=''>import javax.imageio.ImageIO
</span>13 <span style=''>
</span>14 <span style=''>object Visualizer:
</span>15 <span style=''>    val resourceFolderPath: String = (</span><span style='background: #F0ADAD'>System.getProperty(&quot;user.dir&quot;).toString + &quot;\\src\\main\\resources\\&quot;</span><span style=''>)
</span>16 <span style=''>
</span>17 <span style=''>    /***
</span>18 <span style=''>     * Method used for preparing the ImageView of a city.
</span>19 <span style=''>     * @param structure City to be used.
</span>20 <span style=''>     * @return ImageView of the city passed.
</span>21 <span style=''>     */
</span>22 <span style=''>    </span><span style='background: #F0ADAD'>def prepareCityImage</span><span style=''>(structure: City): Tuple4[Image, Point2D, Int, Int] =
</span>23 <span style=''>        (
</span>24 <span style=''>            </span><span style='background: #F0ADAD'>ImageIO.read(getClass.getResource(&quot;/city_&quot; + structure.currentLife + &quot;.png&quot;))</span><span style=''>,
</span>25 <span style=''>            structure.position,
</span>26 <span style=''>            cityBaseSize,
</span>27 <span style=''>            cityHeightSize
</span>28 <span style=''>        )
</span>29 <span style=''>
</span>30 <span style=''>    /***
</span>31 <span style=''>     * Method used for preparing the ImageView of a missile turret.
</span>32 <span style=''>     * @param structure Missile turret to be used.
</span>33 <span style=''>     * @return ImageView of the missile turret passed
</span>34 <span style=''>     */
</span>35 <span style=''>    </span><span style='background: #F0ADAD'>def prepareBatteryMissileImage</span><span style=''>(structure: MissileBattery): Tuple4[Image, Point2D, Int, Int] =
</span>36 <span style=''>        (
</span>37 <span style=''>            </span><span style='background: #F0ADAD'>ImageIO.read(getClass.getResource(&quot;/Base_&quot; + structure.isReadyForShoot + &quot;_&quot; + structure.currentLife + &quot;.png&quot;))</span><span style=''>,
</span>38 <span style=''>            structure.bottomLeft_Position,
</span>39 <span style=''>            missileBatteryBaseSize,
</span>40 <span style=''>            missileBatteryHeightSize
</span>41 <span style=''>        )
</span>42 <span style=''>
</span>43 <span style=''>    /***
</span>44 <span style=''>     * Method used for preparing a list of ImageView of a given ground.
</span>45 <span style=''>     * @param ground Ground to be used.
</span>46 <span style=''>     * @return List of ImageView of all the structures in the ground.
</span>47 <span style=''>     */
</span>48 <span style=''>    </span><span style='background: #F0ADAD'>def printGround</span><span style=''>(ground: Ground): List[Tuple4[Image, Point2D, Int, Int]] =
</span>49 <span style=''>        </span><span style='background: #F0ADAD'>(for structure &lt;- ground.cities yield prepareCityImage(structure))
</span>50 <span style=''></span><span style='background: #F0ADAD'>            ++
</span>51 <span style=''></span><span style='background: #F0ADAD'>            (for structure &lt;- ground.turrets yield prepareBatteryMissileImage(structure)</span><span style=''>)
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Tests</th>
        <th>Code</th>
      </tr><tr>
        <td>
          14
        </td>
        <td>
          938
        </td>
        <td>
          348
          -
          416
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;).toString + &quot;\\src\\main\\resources\\&quot;
        </td>
      </tr><tr>
        <td>
          14
        </td>
        <td>
          937
        </td>
        <td>
          348
          -
          387
        </td>
        <td>
          Apply
        </td>
        <td>
          toString
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;).toString
        </td>
      </tr><tr>
        <td>
          14
        </td>
        <td>
          936
        </td>
        <td>
          348
          -
          378
        </td>
        <td>
          Apply
        </td>
        <td>
          getProperty
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          System.getProperty(&quot;user.dir&quot;)
        </td>
      </tr><tr>
        <td>
          21
        </td>
        <td>
          944
        </td>
        <td>
          584
          -
          604
        </td>
        <td>
          DefDef
        </td>
        <td>
          prepareCityImage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def prepareCityImage
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          941
        </td>
        <td>
          714
          -
          755
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/city_&quot; + structure.currentLife + &quot;.png&quot;
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          940
        </td>
        <td>
          714
          -
          746
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/city_&quot; + structure.currentLife
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          943
        </td>
        <td>
          680
          -
          757
        </td>
        <td>
          Apply
        </td>
        <td>
          read
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          ImageIO.read(getClass.getResource(&quot;/city_&quot; + structure.currentLife + &quot;.png&quot;))
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          939
        </td>
        <td>
          725
          -
          746
        </td>
        <td>
          Select
        </td>
        <td>
          currentLife
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          structure.currentLife
        </td>
      </tr><tr>
        <td>
          23
        </td>
        <td>
          942
        </td>
        <td>
          693
          -
          756
        </td>
        <td>
          Apply
        </td>
        <td>
          getResource
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          getClass.getResource(&quot;/city_&quot; + structure.currentLife + &quot;.png&quot;)
        </td>
      </tr><tr>
        <td>
          34
        </td>
        <td>
          953
        </td>
        <td>
          1049
          -
          1079
        </td>
        <td>
          DefDef
        </td>
        <td>
          prepareBatteryMissileImage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def prepareBatteryMissileImage
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          950
        </td>
        <td>
          1199
          -
          1274
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/Base_&quot; + structure.isReadyForShoot + &quot;_&quot; + structure.currentLife + &quot;.png&quot;
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          947
        </td>
        <td>
          1199
          -
          1241
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/Base_&quot; + structure.isReadyForShoot + &quot;_&quot;
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          946
        </td>
        <td>
          1199
          -
          1235
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/Base_&quot; + structure.isReadyForShoot
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          949
        </td>
        <td>
          1199
          -
          1265
        </td>
        <td>
          Apply
        </td>
        <td>
          +
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          &quot;/Base_&quot; + structure.isReadyForShoot + &quot;_&quot; + structure.currentLife
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          952
        </td>
        <td>
          1165
          -
          1276
        </td>
        <td>
          Apply
        </td>
        <td>
          read
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          ImageIO.read(getClass.getResource(&quot;/Base_&quot; + structure.isReadyForShoot + &quot;_&quot; + structure.currentLife + &quot;.png&quot;))
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          945
        </td>
        <td>
          1210
          -
          1235
        </td>
        <td>
          Select
        </td>
        <td>
          isReadyForShoot
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          structure.isReadyForShoot
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          948
        </td>
        <td>
          1244
          -
          1265
        </td>
        <td>
          Select
        </td>
        <td>
          currentLife
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          structure.currentLife
        </td>
      </tr><tr>
        <td>
          36
        </td>
        <td>
          951
        </td>
        <td>
          1178
          -
          1275
        </td>
        <td>
          Apply
        </td>
        <td>
          getResource
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          getClass.getResource(&quot;/Base_&quot; + structure.isReadyForShoot + &quot;_&quot; + structure.currentLife + &quot;.png&quot;)
        </td>
      </tr><tr>
        <td>
          47
        </td>
        <td>
          959
        </td>
        <td>
          1608
          -
          1623
        </td>
        <td>
          DefDef
        </td>
        <td>
          printGround
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          def printGround
        </td>
      </tr><tr>
        <td>
          48
        </td>
        <td>
          955
        </td>
        <td>
          1691
          -
          1755
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          for structure &lt;- ground.cities yield prepareCityImage(structure)
        </td>
      </tr><tr>
        <td>
          48
        </td>
        <td>
          958
        </td>
        <td>
          1690
          -
          1860
        </td>
        <td>
          Apply
        </td>
        <td>
          ++
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          (for structure &lt;- ground.cities yield prepareCityImage(structure))
            ++
            (for structure &lt;- ground.turrets yield prepareBatteryMissileImage(structure)
        </td>
      </tr><tr>
        <td>
          48
        </td>
        <td>
          954
        </td>
        <td>
          1728
          -
          1755
        </td>
        <td>
          Apply
        </td>
        <td>
          prepareCityImage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          prepareCityImage(structure)
        </td>
      </tr><tr>
        <td>
          50
        </td>
        <td>
          956
        </td>
        <td>
          1823
          -
          1860
        </td>
        <td>
          Apply
        </td>
        <td>
          prepareBatteryMissileImage
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          prepareBatteryMissileImage(structure)
        </td>
      </tr><tr>
        <td>
          50
        </td>
        <td>
          957
        </td>
        <td>
          1785
          -
          1860
        </td>
        <td>
          Apply
        </td>
        <td>
          map
        </td>
        <td>
          
        </td>
        <td style="background: #F0ADAD">
          for structure &lt;- ground.turrets yield prepareBatteryMissileImage(structure)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>